<template>
  <div class="h-100 w-100">
    <div class="score_class align-v-h-center">
      <div class="score_text w-100">{{ currScore }}</div>
    </div>
    <div class="timer_blink align-v-h-center">
      <div class="timer_blink_outer w-100">
        <div :style="{ width: timerState + '%' }" class="timer_blink_inner"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "LighteningTimer",
  props: [
    "dark-theme",
    "lightening-score",
    "num-entered-type",
    "give-second-chance",
    "use-stop-timer-token",
    "cell-data-erased-type",
    "new-game-start-dialog",
    "num-entered-in-sudoku",
    "lightening-timer-state",
    "stop-score-game-complete",
  ],
  emit: [
    "second-chance-given",
    "curr-lightening-score",
    "lightening-score-status",
    "use-stop-timer-token-success",
    "num-entered-in-sudoku-success",
  ],
  data() {
    return {
      mstkCount: 1,
      currScore: this.lighteningScore,
      scoreToAdd: 1,
      timerState: this.lighteningTimerState,
      currScoreReducer: null,
      timerStateInterVal: null,
      stopTimerTokenActive: false,
    };
  },
  mounted() {
    if (this.timerState == 0) {
      this.currScoreReducer = setInterval(() => {
        if (this.currScore > 0) {
          this.currScore -= 10;
          console.log("hello");
          this.$emit("curr-lightening-score", this.currScore);
        }
      }, 1000);
    } else {
      this.timerStateInterVal = setInterval(() => {
        if (this.timerState == 0) {
          clearInterval(this.timerStateInterVal);
        } else {
          this.timerState--;
        }
      }, 70);
    }
  },
  watch: {
    giveSecondChance(n) {
      console.log("giveSecondChance WATCHER :", n);
      if (n) {
        if (this.timerState == 0) {
          this.currScoreReducer = setInterval(() => {
            if (this.currScore > 0) {
              this.currScore -= 10;
              console.log("hello");
              this.$emit("curr-lightening-score", this.currScore);
            }
          }, 1000);
        } else {
          this.timerStateInterVal = setInterval(() => {
            if (this.timerState == 0) {
              clearInterval(this.timerStateInterVal);
            } else {
              this.timerState--;
            }
          }, 70);
        }
        console.log("giveSecondChance WATCHER CLOCK started");
        this.$emit("second-chance-given", true);
      }
    },
    useStopTimerToken(n) {
      console.log("useStopTimerToken TIMECLOCK: n", n);
      if (n) {
        this.stopTimerTokenActive = true;
        clearInterval(this.currScoreReducer);
        clearInterval(this.timerStateInterVal);
        setTimeout(() => {
          // console.log("AFTER 5 SECONDSSSS");
          if (this.timerState == 0) {
            this.currScoreReducer = setInterval(() => {
              if (this.currScore > 0) {
                this.currScore -= 10;
                console.log("hello");
                this.$emit("curr-lightening-score", this.currScore);
              }
            }, 1000);
          } else {
            this.timerStateInterVal = setInterval(() => {
              if (this.timerState == 0) {
                clearInterval(this.timerStateInterVal);
              } else {
                this.timerState--;
              }
            }, 70);
          }
          this.stopTimerTokenActive = false;
          this.$emit("use-stop-timer-token-success", true);
        }, 10000);
      }
    },
    cellDataErasedType(n) {
      console.log("cellDataErasedType n:", n);
      console.log("this.currScore :", this.currScore);
      if (n == "correct") {
        // this.timerState = 0;
        clearInterval(this.timerStateInterVal);
        this.currScore -= 50;
      } else if (n == "wrong") {
        // this.timerState = 0;
        clearInterval(this.timerStateInterVal);
        this.currScore -= 30;
      }
      console.log("this.currScore :", this.currScore);
    },
    numEnteredType(n) {
      console.log("numEnteredType watcher LIGHTENINGTIMER n:", n);
    },
    newGameStartDialog(n) {
      console.log("watcher newGameStartDialog n:", n);
      if (n) {
        this.currScore = this.lighteningScore;
        this.timerState = this.lighteningTimerState;
        clearInterval(this.currScoreReducer);
        clearInterval(this.timerStateInterVal);
        this.timerStateInterVal = setInterval(() => {
          if (this.timerState == 0) {
            clearInterval(this.timerStateInterVal);
          } else {
            this.timerState--;
          }
        }, 70);
      }
    },
    stopScoreGameComplete(n) {
      console.log("stopScoreGameComplete :", n);
      if (n) {
        clearInterval(this.timerStateInterVal);
        clearInterval(this.currScoreReducer);
      }
    },
    numEnteredInSudoku(n) {
      console.log("numEnteredInSudoku n:", n);
      if (n) {
        if (this.numEnteredType.numEntered && this.numEnteredType.numCorrect) {
          clearInterval(this.timerStateInterVal);
          if (this.numEnteredType.entryType == "pen") {
            this.currScore += this.scoreToAdd * 50;
            this.scoreToAdd++;
          } else if (this.numEnteredType.entryType == "hint") {
            this.currScore += 50;
          } else if (this.numEnteredType.entryType == "specificNum") {
            this.currScore += 150;
          }
          if (!this.stopTimerTokenActive) {
            this.timerState = 100;
            this.timerStateInterVal = setInterval(() => {
              if (this.timerState == 0) {
                clearInterval(this.timerStateInterVal);
                this.scoreToAdd = 1;
              } else {
                this.timerState--;
              }
            }, 70);
          }
        } else if (this.numEnteredType.numEntered && !this.numEnteredType.numCorrect) {
          console.log("MISTAKE HAPPENSSSS ");
          this.currScore -= this.mstkCount * 30;
          this.mstkCount++;
          // this.timerState = 0;
        }
        this.$emit("num-entered-in-sudoku-success", this.currScore);
      }
    },
    timerState(n) {
      if (n == 0) {
        this.currScoreReducer = setInterval(() => {
          if (this.currScore > 0) {
            this.currScore -= 10;
            console.log("hello");
            this.$emit("curr-lightening-score", this.currScore);
          }
        }, 1000);
      } else {
        clearInterval(this.currScoreReducer);
      }
    },
  },
  beforeUnmount() {
    clearInterval(this.currScoreReducer);
    clearInterval(this.timerStateInterVal);
    this.$emit("lightening-score-status", {
      currScore: this.currScore,
      lighteningTimerState: this.timerState,
    });
  },
};
</script>

<style scoped>
.score_class {
  height: 60%;
}
.score_text {
  font-size: 19px;
}
.timer_blink {
  height: 40%;
}
.timer_blink_outer {
  padding: 0px 5px;
}
.timer_blink_inner {
  padding: 3px 0px;
  background: blue;
}
</style>
