<template>
  <div>
    <div>Mistakes</div>
    <div v-if="count == 0">
      <img v-if="darkTheme" src="../../../assets/icons/icons8-error-white-24.png" />
      <img v-else src="../../../assets/icons/icons8-error-black-24.png" />
    </div>
    <div v-else-if="count == 1">
      <img src="../../../assets/icons/icons8-error-orange-24.png" />
    </div>
    <div v-else>
      <img src="../../../assets/icons/icons8-error-red-24.png" />
    </div>
    <div>{{ count }}/{{ total }}</div>
  </div>
</template>

<script>
export default {
  name: "MistakeCount",
  props: ["dark-theme", "count"],
  data() {
    return {};
  },
  computed: {
    total() {
      if (this.count < 3) return 3;
      return this.count + 1;
    },
  },
};
</script>