<template>
  <div class="w-100 h-100" @click="toggleFunc">
    <div class="pen-pencil-class">
      <div :style="keepRotating">
        <div v-if="penActive">
          <img
            v-if="darkTheme"
            src="../../../assets/icons/icons8-ball-point-pen-white-24.png"
          />
          <img v-else src="../../../assets/icons/icons8-ball-point-pen-black-24.png" />
        </div>
        <div v-else>
          <img v-if="darkTheme" src="../../../assets/icons/icons8-pencil-white-24.png" />
          <img v-else src="../../../assets/icons/icons8-pencil-black-24.png" />
        </div>
      </div>
      <div v-if="penActive"><div>Pen</div></div>
      <div v-else><div>Pencil</div></div>
    </div>
    <div class="tokenCount">
      <div>
        <img
          class="tokenImg"
          :style="zoomIn"
          v-if="alertTokenNeeded"
          src="../../../assets/icons/key_red_24.png"
        />
        <img
          class="tokenImg"
          :style="zoomIn"
          v-else-if="darkTheme"
          src="../../../assets/icons/key_white_24.png"
        />
        <img
          class="tokenImg"
          :style="zoomIn"
          v-else
          src="../../../assets/icons/key_black_24.png"
        />
        {{ tokenValue }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "PenPencil",
  props: ["dark-theme", "token-value", "alert-token-needed"],
  emits: ["pen-pencil-selected", "alert-token-needed-success"],
  data() {
    return {
      penActive: true,
      rotateAngle: 0,
      interVal: null,
      incAngle: true,
      scaleFactor: 0,
      scaleFactorInterVal: null,
    };
  },
  watch: {
    alertTokenNeeded(n) {
      // console.log("alertTokenNeeded : ", n);
      if (n) {
        this.zoomInAndFadeOut();
      }
    },
  },
  computed: {
    keepRotating() {
      return {
        transform: " rotateY(" + this.rotateAngle + "deg)",
      };
    },
    zoomIn() {
      return {
        transform: " scale(1." + this.scaleFactor + ")",
      };
    },
  },
  methods: {
    toggleFunc() {
      // console.log("toggleFunc");
      clearInterval(this.interVal);
      // var inc = this.rotateAngle == 0;
      this.interVal = setInterval(() => {
        if (this.incAngle) {
          this.rotateAngle++;
          if (this.rotateAngle == 180) {
            clearInterval(this.interVal);
            this.$emit("pen-pencil-selected", this.penActive ? "pen" : "pencil");
            this.incAngle = false;
          }
        } else {
          this.rotateAngle--;
          if (this.rotateAngle == 0) {
            clearInterval(this.interVal);
            this.$emit("pen-pencil-selected", this.penActive ? "pen" : "pencil");
            this.incAngle = true;
          }
        }
        if (this.rotateAngle == 90) {
          this.penActive = !this.penActive;
        }
        // console.log(!this.penActive ? "pen" : "pencil");
      }, 1);
    },
    zoomInAndFadeOut() {
      clearInterval(this.scaleFactorInterVal);
      this.scaleFactorInterVal = setInterval(() => {
        if (this.scaleFactor < 10) {
          this.scaleFactor++;
        } else {
          clearInterval(this.scaleFactorInterVal);
          this.scaleFactor = 0;
          this.$emit("alert-token-needed-success", true);
        }
      }, 30);
    },
  },
};
</script>

<style scoped>
.pen-pencil-class {
  height: 70%;
}
.tokenCount {
  height: 30%;
}
.tokenImg {
  width: 16px;
}
</style>
