<template>
  <div>
    <div @click="showAd" class="hint_icon">
      <div v-if="showLoader">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          style="
            margin: auto;
            background: transaparent;
            display: block;
            shape-rendering: auto;
            transform: translateX(-24%);
          "
          width="200%"
          height="200%"
          viewBox="0 0 100 100"
          preserveAspectRatio="xMidYMid"
        >
          <circle cx="50" cy="50" r="0" fill="none" stroke="#e90c59" stroke-width="2">
            <animate
              attributeName="r"
              repeatCount="indefinite"
              dur="1s"
              values="0;40"
              keyTimes="0;1"
              keySplines="0 0.2 0.8 1"
              calcMode="spline"
              begin="-0.5s"
            ></animate>
            <animate
              attributeName="opacity"
              repeatCount="indefinite"
              dur="1s"
              values="1;0"
              keyTimes="0;1"
              keySplines="0.2 0 0.8 1"
              calcMode="spline"
              begin="-0.5s"
            ></animate>
          </circle>
          <circle cx="50" cy="50" r="0" fill="none" stroke="#46dff0" stroke-width="2">
            <animate
              attributeName="r"
              repeatCount="indefinite"
              dur="1s"
              values="0;40"
              keyTimes="0;1"
              keySplines="0 0.2 0.8 1"
              calcMode="spline"
            ></animate>
            <animate
              attributeName="opacity"
              repeatCount="indefinite"
              dur="1s"
              values="1;0"
              keyTimes="0;1"
              keySplines="0.2 0 0.8 1"
              calcMode="spline"
            ></animate>
          </circle>
          <!-- [ldio] generated by https://loading.io/ -->
        </svg>
      </div>
      <div v-else>
        <img
          v-if="darkTheme"
          class="rotateBulb"
          src="../../../assets/icons/wb_incandescent_white_24dp.svg"
        />
        <img
          v-else
          class="rotateBulb"
          src="../../../assets/icons/wb_incandescent_black_24dp.svg"
        />
      </div>
    </div>
    <div>Hint : {{ hintCnt }}</div>
  </div>
</template>

<script>
export default {
  name: "ShowHint",
  props: [
    "dark-theme",
    "hint-count",
    "showed-hint",
    "hint-rewarded",
    "stop-showing-loader",
    "new-game-start-dialog",
  ],
  emits: ["show-hint-clicked", "hint-cnt-reduced", "request-for-hint"],
  data() {
    return {
      hintCnt: this.hintCount,
      showLoader: false,
    };
  },
  watch: {
    newGameStartDialog(n) {
      // console.log("newGameStartDialog SHOWHINT: n", n, " o:", o);
      if (n) {
        this.hintCnt = 2;
      }
    },
    showedHint(n) {
      // console.log("showed-hintshowed-hintshowed-hint SHOWHINT: ", n, " o:", o);
      if (n) {
        if (this.hintCnt > 0) {
          this.hintCnt--;
        }
        this.$emit("hint-cnt-reduced", true);
      } else {
        this.$emit("hint-cnt-reduced", false);
      }
    },
    hintRewarded(n) {
      if (n) {
        this.showLoader = false;
      }
    },
    stopShowingLoader(n) {
      if (n) {
        this.showLoader = false;
      }
    },
  },
  computed: {
    hintText() {
      if (this.hintCnt == 0) return "?";
      else return "Hint";
    },
  },
  methods: {
    showAd() {
      console.log("SHOWING AD");
      console.log("Admob : ", this.cordova);

      if (this.hintCnt == 0) {
        this.cordova.on("deviceready", () => {
          if (this.cordova.connection.type != "none") {
            this.showLoader = true;
            this.$emit("request-for-hint", true);
          } else {
            this.showConnectionErrorToast();
          }
        });
      } else {
        console.log("Hint Available......", this.hintCnt);
        this.$emit("show-hint-clicked", true);
      }
    },
    showConnectionErrorToast() {
      this.cordova.on("deviceready", () => {
        this.cordova.toast.showWithOptions(
          {
            message: "Connection Unavailable",
            duration: "short",
            position: "bottom",
            addPixelsY: -100,
            styling: {
              backgroundColor: this.darkTheme ? "#fddc72" : "#3f57f6", // make sure you use #RRGGBB. Default #333333
              textColor: this.darkTheme ? "#3f57f6" : "#fddc72", // Ditto. Default #FFFFFF
              textSize: 20.5, // Default is approx. 13.
              cornerRadius: 50, // minimum is 0 (square). iOS default 20, Android default 100
              horizontalPadding: 80, // iOS default 16, Android default 50
              verticalPadding: 50, // iOS default 12, Android default 30
            },
          },
          (success) => {
            console.log("toast.showWithOptions success : ", success);
          },
          (err) => {
            console.log("toast.showWithOptions err : ", err);
          }
        );
      });
    },
  },
};
</script>

<style scoped>
.hint_icon {
  border: 2px solid gray;
  border-radius: 50%;
  height: 5vh;
  width: 5vh;
  padding: 10px;
  margin: auto;
  text-align: center;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rotateBulb {
  transform: rotate(180deg);
}
</style>
