<template>
  <div class="time_clock_main">
    <div :style="digitalClockBorder" class="digital_clock">
      <div class="hand" :style="rotateHand">
        <div :style="handInnerBorder" class="hand_inner"></div>
      </div>
    </div>
    <div class="analog_clock">
      {{ getReadableTime }}
    </div>
  </div>
</template>

<script>
export default {
  name: "TimeClock",
  props: [
    "dark-theme",
    "clock-state",
    "give-second-chance",
    "use-stop-timer-token",
    "new-game-start-dialog",
    "stop-watch-game-complete",
  ],
  emits: [
    "clock-status",
    "curr-clock-status",
    "use-stop-timer-token-success",
    "second-chance-given",
  ],
  data() {
    return {
      clk: null,
      rotateAngle: this.clockState.angle,
      measuredTime: this.clockState.clock,
    };
  },
  watch: {
    giveSecondChance(n) {
      console.log("giveSecondChance WATCHER :", n);
      if (n) {
        this.startClock();
        console.log("giveSecondChance WATCHER CLOCK started");
        this.$emit("second-chance-given", true);
      }
    },
    newGameStartDialog(n) {
      // console.log("newGameStartDialog TIMECLOCK: n", n, " o:", o);
      if (n) {
        this.rotateAngle = 0;
        this.measuredTime = 0;
        this.startClock();
      }
    },
    stopWatchGameComplete(n) {
      // console.log("stopWatchGameComplete TIMECLOCK : ", n);
      if (n) {
        clearInterval(this.clk);
        this.clk = null;
      }
    },
    useStopTimerToken(n) {
      // console.log("useStopTimerToken TIMECLOCK: n", n, " o:", o);
      if (n) {
        clearInterval(this.clk);
        this.clk = null;
        setTimeout(() => {
          // console.log("AFTER 5 SECONDSSSS");
          this.clk = setInterval(() => {
            this.rotateAngle += 6;
            this.measuredTime += 1;
            if (this.rotateAngle == 360) this.rotateAngle = 0;
          }, 1000);
          this.$emit("use-stop-timer-token-success", true);
        }, 10000);
      }
    },
    measuredTime() {
      this.$emit("curr-clock-status", {
        resumeTime: this.measuredTime,
        clockAngle: this.rotateAngle,
      });
    },
  },
  computed: {
    getReadableTime() {
      var tmp = new Date(null);
      tmp.setSeconds(this.measuredTime);
      return tmp.toISOString().substr(11, 8);
    },
    digitalClockBorder() {
      if (this.darkTheme) {
        return {
          border: "1px solid white",
        };
      }
      return {
        border: "1px solid black",
      };
    },
    handInnerBorder() {
      if (this.darkTheme) {
        return {
          border: "1px solid white",
          backgroundColor: "white",
        };
      }
      return {
        border: "1px solid black",
        backgroundColor: "black",
      };
    },
    rotateHand() {
      return {
        transform: "rotate(" + this.rotateAngle + "deg)",
      };
    },
  },
  mounted() {
    this.startClock();
  },
  beforeUnmount() {
    // console.log("beforeUnmount TIMECLOCK ");
    clearInterval(this.clk);
    this.$emit("clock-status", {
      resumeTime: this.measuredTime,
      clockAngle: this.rotateAngle,
    });
  },
  methods: {
    startClock() {
      this.clk = setInterval(() => {
        this.rotateAngle += 6;
        this.measuredTime += 1;
        if (this.rotateAngle == 360) this.rotateAngle = 0;
      }, 1000);
    },
  },
};
</script>

<style scoped>
/* .time_clock_main {
  width: 25%;
} */
.digital_clock {
  margin: auto;
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hand {
  height: 85%;
  transform: rotate(45deg);
}
.hand_inner {
  border: 1px solid black;
  height: 50%;
}
.analog_clock {
  margin-top: 5px;
}
</style>
