<template>
  <div class="dialog-div">
    <div class="dialog-box" :style="getStyles">
      <div v-if="internetConnected" class="dialog-box-inner">
        <div v-if="tokenGifts > 0">
          <div v-if="showLoader">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              style="
                background: transaparent;
                display: block;
                shape-rendering: auto;
                margin: auto;
              "
              width="26%"
              height="26%"
              viewBox="0 0 100 100"
              preserveAspectRatio="xMidYMid"
            >
              <circle cx="50" cy="50" r="0" fill="none" stroke="#e90c59" stroke-width="2">
                <animate
                  attributeName="r"
                  repeatCount="indefinite"
                  dur="1s"
                  values="0;40"
                  keyTimes="0;1"
                  keySplines="0 0.2 0.8 1"
                  calcMode="spline"
                  begin="-0.5s"
                ></animate>
                <animate
                  attributeName="opacity"
                  repeatCount="indefinite"
                  dur="1s"
                  values="1;0"
                  keyTimes="0;1"
                  keySplines="0.2 0 0.8 1"
                  calcMode="spline"
                  begin="-0.5s"
                ></animate>
              </circle>
              <circle cx="50" cy="50" r="0" fill="none" stroke="#46dff0" stroke-width="2">
                <animate
                  attributeName="r"
                  repeatCount="indefinite"
                  dur="1s"
                  values="0;40"
                  keyTimes="0;1"
                  keySplines="0 0.2 0.8 1"
                  calcMode="spline"
                ></animate>
                <animate
                  attributeName="opacity"
                  repeatCount="indefinite"
                  dur="1s"
                  values="1;0"
                  keyTimes="0;1"
                  keySplines="0.2 0 0.8 1"
                  calcMode="spline"
                ></animate>
              </circle>
              <!-- [ldio] generated by https://loading.io/ -->
            </svg>
          </div>
          <div v-else class="" @click="watchAdFunc">
            <img
              class="tokenImg"
              v-if="!darkTheme"
              src="../../assets/icons/icons8_play_white_64.png"
            />
            <img
              class="tokenImg"
              v-else
              src="../../assets/icons/icons8_play_black_64.png"
            />
          </div>
          <div class="dialog-msg">Watch Ad and get 5-15 Tokens</div>
          <!-- <div class="dialog-msg watch_ads_get_token">
            Reward may be 3 Hints or 5-15 Tokens
          </div> -->
        </div>
        <div v-else>
          <div class="dialog-msg">You got all the Rewards</div>
          <div class="dialog-msg">Come back tomorrow!</div>
        </div>
        <div @click="cancelFunc" class="btns" :style="borderColor">Cancel</div>
      </div>
      <div v-else class="dialog-box-inner">
        <div class="dialog-msg">Please check your Internet Connection.</div>
        <div @click="cancelFunc" class="btns" :style="borderColor">Cancel</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "AdsRewardDialog",
  props: ["dark-theme", "stop-showing-loader", "token-gifts"],
  emits: ["cancel-ads-reward-dialog", "watch-hint-token-ad"],
  data() {
    return {
      internetConnected: true,
      showLoader: false,
    };
  },
  watch: {
    stopShowingLoader(n) {
      if (n) {
        this.showLoader = false;
      }
    },
  },
  computed: {
    borderColor() {
      if (this.darkTheme) {
        return {
          border: "1px solid white",
        };
      } else {
        return {
          border: "1px solid black",
        };
      }
    },
    getStyles() {
      if (this.darkTheme) {
        return {
          backgroundColor: "black",
          color: "white",
          boxShadow: "15px 15px 13px rgba(146, 137, 137, 0.5)",
        };
      } else {
        return {
          backgroundColor: "white",
          color: "black",
          boxShadow: "15px 15px 13px rgba(0, 0, 0, 0.5)",
        };
      }
    },
  },
  mounted() {
    this.cordova.on("deviceready", () => {
      if (this.cordova.connection.type == "none") {
        this.internetConnected = false;
      } else {
        this.internetConnected = true;
      }
      document.addEventListener("offline", () => {
        this.internetConnected = false;
      });
      document.addEventListener("online", () => {
        this.internetConnected = true;
      });
    });
  },
  methods: {
    cancelFunc() {
      this.$emit("cancel-ads-reward-dialog", true);
    },
    watchAdFunc() {
      if (this.internetConnected) {
        this.showLoader = true;
        this.$emit("watch-hint-token-ad", true);
      }
    },
  },
};
</script>

<style>
div {
  text-align: center;
}
.dialog-div {
  position: fixed;
  top: 0vh;
  left: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dialog-box {
  border: 3px solid blueviolet;
  border-radius: 20px;
  width: 65%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dialog-msg {
  padding: 5px;
}
.dialog-box-inner {
  width: 100%;
}
.btns {
  width: 40%;
  padding: 10px;
  border-radius: 10px;
  margin: auto;
}
.watch_ads_get_token {
  font-size: 13px;
}
</style>
