<template>
  <div class="h-100">
    <nav-options
      class="h-8"
      :dark-theme="darkTheme"
      :token-value="tokenValue"
      :points-value="pointsValue"
      :points-to-increase="pointsToIncrease"
      :show-back-btn="!showMainOption"
      @toggle-theme="toggleTheme"
      @points-updated="pointsUpdatedFunc"
      @back-btn-pressed="backBtnPressedFunc"
    ></nav-options>
    <div class="game_options">
      <div class="game_options_inner h-100">
        <div class="h-100 w-100" v-show="showMusicList">
          <music-ground
            :dark-theme="darkTheme"
            :new-music-added-notification="newMusicAddedNotification"
            @new-music-notification-checked="newMusicNotificationCheckedFunc"
          ></music-ground>
        </div>
        <teleport to="body">
          <ads-reward-dialog
            v-if="showAdsAndReward"
            :dark-theme="darkTheme"
            :token-gifts="tokenGifts"
            :stop-showing-loader="stopShowingLoader"
            @watch-hint-token-ad="addNewTokenFunc"
            @cancel-ads-reward-dialog="cancelAdsRewardDialogFunc"
          ></ads-reward-dialog>
        </teleport>
        <div v-if="showMainOption" class="main_option">
          <div @click="gameType('classic')" :style="borderColor" class="btns">
            Classic
          </div>
          <div @click="gameType('lightening')" :style="borderColor" class="btns">
            Lightening
          </div>
          <div class="btns">
            <div class="row">
              <div
                @click="showMusicListFunc"
                class="w-33 align-v-h-center border-gray pad"
              >
                <img
                  class="tokenImg"
                  v-if="darkTheme"
                  src="../../assets/icons/icons8_musical_notes_white_24.png"
                />
                <img
                  class="tokenImg"
                  v-else
                  src="../../assets/icons/icons8_musical_notes_black_24.png"
                />
              </div>
              <div
                @click="viewAdsAndGetRewardFunc"
                class="w-33 align-v-h-center border-gray m-x-1 pad"
              >
                <img v-if="darkTheme" src="../../assets/icons/light_white_on_24.png" />
                <img v-else src="../../assets/icons/light_black_on_24.png" />
              </div>
              <div class="w-33 align-v-h-center border-gray pad">
                <other-settings
                  :dark-theme="darkTheme"
                  :ask-about-feedback="askAboutFeedback"
                  @never-ask-about-feedback="neverAskAboutFeedbackFunc"
                ></other-settings>
              </div>
            </div>
          </div>
        </div>
        <div v-else-if="showSubOption" class="sub_option">
          <div @click="gameSubType('easy')" :style="borderColor" class="btns">Easy</div>
          <div @click="gameSubType('medium')" :style="borderColor" class="btns">
            Medium
          </div>
          <div @click="gameSubType('hard')" :style="borderColor" class="btns">Hard</div>
          <div @click="gameSubType('expert')" :style="borderColor" class="btns">
            Expert
          </div>
        </div>
        <div v-else-if="showResumeOption" class="sub_option">
          <div @click="gameStart('resume')" :style="borderColor" class="btns">
            Resume {{ gameTypeName == "classic" ? resumeTime : "" }}
          </div>
          <div @click="gameStart('new')" :style="borderColor" class="btns">New Game</div>
        </div>
        <div v-else-if="!showMusicList" class="sub_option h-100">
          <sudoku-area
            :dark-theme="darkTheme"
            :game-start-type="{
              type: gameTypeName,
              level: gameSubTypeName,
              startType: gameStartType,
            }"
            :token-value="tokenValue"
            :sudoku-data="sudokuData"
            :hint-rewarded="hintRewarded"
            :stop-showing-loader="stopShowingLoader"
            :second-chance-rewarded="secondChanceRewarded"
            @go-to-home="goToHomeFunc"
            @new-game-start="newGameStartFunc"
            @save-high-score="saveHighScoreFunc"
            @request-for-hint="requestForHintFunc"
            @give-second-chance="giveSecondChanceFunc"
            @save-sudoku-status="saveSudokuStatusFunc"
            @to-calculate-points="toCalculatePointsFunc"
            @hint-rewarded-complete="hintRewardedCompleteFunc"
            @save-sudoku-curr-status="saveSudokuCurrStatusFunc"
            @update-stop-timer-token="updateStopTimerTokenFunc"
            @request-for-second-chance="requestForSecondChanceFunc"
            @second-chance-rewarded-complete="secondChanceRewardedCompleteFunc"
          ></sudoku-area>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import NavOptions from "./NavOptions.vue";
import MusicGround from "./MusicGround.vue";
import OtherSettings from "./OtherSettings.vue";
import AdsRewardDialog from "./AdsRewardDialog.vue";
import SudokuArea from "../sudokuGround/SudokuArea.vue";

export default {
  name: "MainPage",
  components: {
    NavOptions,
    SudokuArea,
    MusicGround,
    OtherSettings,
    AdsRewardDialog,
  },
  emits: [
    "toggle-theme",
    "save-sudoku-status",
    "save-sudoku-curr-status",
    "new-game-start",
    "save-high-score",
    "add-new-token",
    "to-calculate-points",
    "update-stop-timer-token",
    "give-second-chance",
    "never-ask-about-feedback",
    "new-music-notification-checked",
    "request-for-second-chance",
    "second-chance-rewarded-complete",
    "request-for-hint",
    "hint-rewarded-complete",
  ],
  props: [
    "dark-theme",
    "sudoku-data",
    "token-gifts",
    "token-value",
    "points-value",
    "hint-rewarded",
    "stop-showing-loader",
    "ask-about-feedback",
    "second-chance-rewarded",
    "new-music-added-notification",
  ],
  data() {
    return {
      showMainOption: true,
      showSubOption: false,
      showResumeOption: false,
      gameTypeName: "",
      gameSubTypeName: "",
      resumeTime: 0,
      gameStartType: "new",
      pointsToIncrease: 0,
      showMusicList: false,
      showAdsAndReward: false,
    };
  },
  computed: {
    borderColor() {
      if (this.darkTheme) {
        return {
          border: "1px solid white",
        };
      } else {
        return {
          border: "1px solid black",
        };
      }
    },
  },
  watch: {
    newMusicAddedNotification(n) {
      console.log("newMusicAddedNotification WATCHER MAINPAGE : ", n);
      if (n != null && n.tap == "background") {
        this.showMusicList = true;
        this.showMainOption = false;
      }
    },
  },
  methods: {
    toggleTheme(t) {
      this.$emit("toggle-theme", t);
    },
    backBtnPressedFunc() {
      if (
        !this.showMainOption &&
        !this.showSubOption &&
        !this.showResumeOption &&
        this.showMusicList
      ) {
        this.showMusicList = false;
        this.showMainOption = true;
      } else if (!this.showMainOption && !this.showSubOption && !this.showResumeOption) {
        this.showResumeOption = true;
        this.showMainOption = false;
        this.showSubOption = false;
      } else if (!this.showMainOption && !this.showSubOption) {
        this.showResumeOption = false;
        this.showMainOption = false;
        this.showSubOption = true;
      } else if (!this.showMainOption) {
        this.showResumeOption = false;
        this.showMainOption = true;
        this.showSubOption = false;
      } else {
        navigator.app.exitApp();
      }
    },
    gameType(type) {
      // console.log("gameType MAINPAGE : ", type);
      this.gameTypeName = type;
      this.showMainOption = false;
      this.showSubOption = true;
    },
    gameSubType(type) {
      // console.log("gameSubType MAINPAGE type : ", type);
      this.gameSubTypeName = type;
      this.sudokuData.forEach((element) => {
        if (element.type == this.gameTypeName && element.level == this.gameSubTypeName) {
          if (this.gameTypeName == "classic") {
            if (element.resumeTime > 0) {
              this.showResumeOption = true;
              var tmp = new Date(null);
              tmp.setSeconds(element.resumeTime);
              this.resumeTime = tmp.toISOString().substr(11, 8);
              this.gameStartType = "resume";
            } else {
              this.showResumeOption = false;
              this.gameStartType = "new";
            }
          } else {
            if (element.lighteningTimerState != null) {
              this.showResumeOption = true;
              this.gameStartType = "resume";
            } else {
              this.showResumeOption = false;
              this.gameStartType = "new";
            }
          }
        }
      });
      // console.log("this.gameStartType MAINPAGE : ", this.gameStartType);
      this.showSubOption = false;
    },
    gameStart(type) {
      // console.log("gameStart MAINPAGE type: ", type);
      this.gameStartType = type;
      this.showResumeOption = false;
    },
    saveSudokuStatusFunc(t) {
      // console.log("saveSudokuState MAINPAGE : ", t);
      var tmp = new Date(null);
      tmp.setSeconds(t.resumeTime);
      this.resumeTime = tmp.toISOString().substr(11, 8);
      t.type = this.gameTypeName;
      t.level = this.gameSubTypeName;
      this.$emit("save-sudoku-status", t);
    },
    saveSudokuCurrStatusFunc(t) {
      t.type = this.gameTypeName;
      t.level = this.gameSubTypeName;
      this.$emit("save-sudoku-curr-status", t);
    },
    newGameStartFunc(t) {
      t.type = this.gameTypeName;
      t.level = this.gameSubTypeName;
      this.$emit("new-game-start", t);
    },
    saveHighScoreFunc(t) {
      this.$emit("save-high-score", {
        type: this.gameTypeName,
        level: this.gameSubTypeName,
        highScore: t,
      });
    },
    goToHomeFunc(t) {
      console.log("MAINPAGE goToHomeFunc", t);
      this.showMainOption = true;
      this.showSubOption = false;
      this.showResumeOption = false;
    },
    addNewTokenFunc(t) {
      this.$emit("add-new-token", t);
    },
    toCalculatePointsFunc(t) {
      var points = 0;
      console.log("this.gameSubTypeName : ", this.gameSubTypeName);
      if (this.gameSubTypeName == "easy") {
        points = this.constants.EASY_SCORE;
      } else if (this.gameSubTypeName == "medium") {
        points = this.constants.MEDIUM_SCORE;
      } else if (this.gameSubTypeName == "hard") {
        points = this.constants.HARD_SCORE;
      } else {
        points = this.constants.EXPERT_SCORE;
      }
      console.log("toCalculatePointsFunc MAINPAGE points: ", points);
      console.log("toCalculatePointsFunc MAINPAGE t: ", t);
      points = points - t.time;
      points = points - t.mistake * 25;
      points = points - t.hintUsed * 50;
      var n = 0;
      if (t.helpObjUsed.pencilAll != undefined && t.helpObjUsed.pencilAll > 0) {
        n = t.helpObjUsed.pencilAll;
        points = points - (n / 2) * (2 * 100 + 50 * (n - 1));
      }
      if (
        t.helpObjUsed.showSpecificNum != undefined &&
        t.helpObjUsed.showSpecificNum > 0
      ) {
        n = t.helpObjUsed.showSpecificNum;
        points = points - (n / 2) * (2 * 100 + 50 * (n - 1));
      }
      if (t.helpObjUsed.stopTimer != undefined && t.helpObjUsed.stopTimer > 0) {
        n = t.helpObjUsed.stopTimer;
        points = points - (n / 2) * (2 * 100 + 50 * (n - 1));
      }
      if (t.type == "lightening") {
        points = t.currScore;
      }
      points = Math.floor(points);
      console.log("toCalculatePointsFunc MAINPAGE points: ", points);
      points = points < 0 ? 0 : points;
      this.pointsToIncrease += points;
    },
    pointsUpdatedFunc() {
      this.$emit("to-calculate-points", this.pointsToIncrease);
      this.pointsToIncrease = 0;
    },
    updateStopTimerTokenFunc(t) {
      t.type = this.gameTypeName;
      t.level = this.gameSubTypeName;
      this.$emit("update-stop-timer-token", t);
    },
    giveSecondChanceFunc(t) {
      t.type = this.gameTypeName;
      t.level = this.gameSubTypeName;
      this.$emit("give-second-chance", t);
    },
    neverAskAboutFeedbackFunc(t) {
      this.$emit("never-ask-about-feedback", t);
    },
    showMusicListFunc() {
      console.log("showMusicListFunc");
      this.showMusicList = true;
      this.showMainOption = false;
    },
    viewAdsAndGetRewardFunc() {
      this.showAdsAndReward = true;
    },
    cancelAdsRewardDialogFunc() {
      this.showAdsAndReward = false;
    },
    newMusicNotificationCheckedFunc(t) {
      this.$emit("new-music-notification-checked", t);
    },
    requestForSecondChanceFunc(t) {
      this.$emit("request-for-second-chance", t);
    },
    secondChanceRewardedCompleteFunc(t) {
      this.$emit("second-chance-rewarded-complete", t);
    },
    requestForHintFunc(t) {
      this.$emit("request-for-hint", t);
    },
    hintRewardedCompleteFunc(t) {
      this.$emit("hint-rewarded-complete", t);
    },
  },
};
</script>

<style scoped>
.game_options {
  height: 91%;
  padding: 0px 5px;
  /* overflow: scroll; */
}
.game_options_inner {
  display: flex;
  align-items: center;
  width: 100%;
}
.main_option,
.sub_option {
  width: 100%;
  /* padding: 10px; */
}
.btns {
  width: 40%;
  padding: 10px;
  border-radius: 10px;
  margin: 20px auto;
}
</style>
