<template>
  <div class="h-90 align-v-h-center" v-if="showInternetNotConnected">
    <div>
      <img v-if="darkTheme" src="../../assets/icons/wifi_off_white_48dp.svg" />
      <img v-else src="../../assets/icons/wifi_off_black_48dp.svg" />
      <div>Check your device's Internet Connection</div>
    </div>
  </div>
  <div class="h-99" v-else>
    <div class="h-10 align-v-h-center">
      <div @click="stopMusic">
        <img v-if="darkTheme" src="../../assets/icons/music_off_white_24dp.svg" />
        <img v-else src="../../assets/icons/music_off_black_24dp.svg" />
      </div>
    </div>
    <div class="h-90 overflow-prop">
      <div v-for="idx in numOfRows" :key="idx" class="row my-5">
        <div
          v-for="jdx in 3"
          :key="jdx"
          class="w-33 my-5"
          @click="playThisSong(3 * (idx - 1) + jdx - 1)"
        >
          <div
            v-if="3 * (idx - 1) + jdx - 1 < musicList.length"
            :class="{
              highlight_this_white:
                !darkTheme && newlyAddedMusic == musicList[3 * (idx - 1) + jdx - 1].name,
              highlight_this_black:
                darkTheme && newlyAddedMusic == musicList[3 * (idx - 1) + jdx - 1].name,
            }"
          >
            <div>
              <img
                v-if="selectedSongNum == [3 * (idx - 1) + jdx - 1]"
                src="../../assets/icons/icons8_musical_orange_24.png"
              />
              <img
                v-else-if="darkTheme"
                src="../../assets/icons/icons8_musical_white_24.png"
              />
              <img v-else src="../../assets/icons/icons8_musical_black_24.png" />
            </div>
            <div class="word-break">
              <!-- {{ idx }},{{ jdx }} -->
              {{ nameToDisplay(musicList[3 * (idx - 1) + jdx - 1].name) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "MusicGround",
  emits: ["new-music-notification-checked"],
  props: ["dark-theme", "new-music-added-notification"],
  data() {
    return {
      musicList: [],
      media: null,
      selectedSongNum: -1,
      newlyAddedMusic: null,
      internetConnected: true,
      nextPageTokenValue: null,
      showInternetNotConnected: false,
    };
  },
  watch: {
    internetConnected(n) {
      console.log("MUSICGROUND internetConnected WATCHER: ", n);
      if (n) {
        this.showInternetNotConnected = false;
        this.listFirebaseMusicFiles();
      } else {
        if (this.musicList.length == 0) {
          this.showInternetNotConnected = true;
        }
      }
    },
    newMusicAddedNotification(n) {
      if (n != null && n.tap == "background") {
        console.log("newMusicAddedNotification WATCHER IF: ", n);
        this.newlyAddedMusic = n.music_name;
        console.log(
          "newMusicAddedNotification WATCHER IF this.newlyAddedMusic: ",
          this.newlyAddedMusic
        );
        setTimeout(() => {
          this.$emit("new-music-notification-checked", true);
        }, 10000);
      } else {
        this.newlyAddedMusic = null;
      }
    },
  },
  beforeMount() {
    this.cordova.on("deviceready", () => {
      if (this.cordova.connection.type == "none") {
        this.internetConnected = false;
      } else {
        this.internetConnected = true;
      }
      document.addEventListener("offline", () => {
        this.internetConnected = false;
      });
      document.addEventListener("online", () => {
        this.internetConnected = true;
      });
    });

    this.listDeviceMusicFiles();
    this.listFirebaseMusicFiles();
  },
  computed: {
    numOfRows() {
      return Math.ceil(this.musicList.length / 3);
    },
  },
  methods: {
    nameToDisplay(str) {
      return str.split(".")[0];
    },
    listFirebaseMusicFiles() {
      var storageRef = this.firebaseStorage.ref();
      // console.log("this.nextPageTokenValue : ", this.nextPageTokenValue);
      storageRef
        .list({ maxResults: 3, pageToken: this.nextPageTokenValue })
        .then((res) => {
          var promises = [];
          res.items.forEach((element) => {
            promises.push(element.getMetadata());
          });
          // console.log("promises : ", promises);

          Promise.all(promises)
            .then((data) => {
              // console.log("tdata : ", data);
              for (var i = 0; i < data.length; i++) {
                // console.log("data : ", data[i]);
                if (this.musicList == null) {
                  this.musicList = [];
                }
                var filePresent = false;
                for (var j = 0; j < this.musicList.length; j++) {
                  if (this.musicList[j].name.trim() == data[i].name.trim()) {
                    filePresent = true;
                    this.musicList[j].firebaseURL = storageRef
                      .child(data[i].name)
                      .getDownloadURL();
                    break;
                  }
                }
                if (!filePresent) {
                  this.musicList.push({
                    name: data[i].name,
                    loadedSize: 0,
                    size: data[i].size,
                    firebaseURL: storageRef.child(data[i].name).getDownloadURL(),
                    fileURL: null,
                    savedOnDevice: false,
                    download: "no",
                  });
                }
              }

              if (res.nextPageToken != undefined || res.nextPageToken != null) {
                this.nextPageTokenValue = res.nextPageToken;

                // if (this.cordova.connection.type != "none") {
                this.listFirebaseMusicFiles();
                // }
              } else {
                this.nextPageTokenValue = null;
                console.log("NO TOKEN AVAILABLE");
                // console.log("this.musicList 222: ", this.musicList);
              }
            })
            .catch(function (error) {
              console.log("Error : ", error);
            });
        });
    },
    listDeviceMusicFiles() {
      this.cordova.on("deviceready", () => {
        window.resolveLocalFileSystemURL(
          this.cordova.file.externalApplicationStorageDirectory,
          (directoryEntry) => {
            directoryEntry.getDirectory(
              this.constants.MUSICFOLDER,
              { create: true },
              (subdirEntry) => {
                var reader = subdirEntry.createReader();

                reader.readEntries(
                  (entries) => {
                    // console.log("resolveLocalFileSystemURL entries:", entries);
                    var tmpArr = [];
                    entries.forEach((element) => {
                      var tmp = {
                        name: element.name,
                        firebaseURL: null,
                        fileURL: element.toURL(),
                        savedOnDevice: true,
                      };
                      tmpArr.push(tmp);
                    });
                    this.musicList = tmpArr;
                    // console.log("rthis.musicList:", this.musicList);
                    if (this.cordova.connection.type != "none") {
                      this.listFirebaseMusicFiles();
                    } else {
                      // console.log(
                      //   "this.cordova.connection.type : ",
                      //   this.cordova.connection.type
                      // );
                      if (this.musicList.length == 0) {
                        this.showInternetNotConnected = true;
                      } else {
                        this.showInternetNotConnected = false;
                      }
                    }
                  },
                  (err) => {
                    console.log("readEntries err:", err);
                  }
                );
              },
              (err) => {
                console.log("getDirectory err:", err);
              }
            );
          },
          (err) => {
            console.log("resolveLocalFileSystemURL err:", err);
          }
        );
      });
    },
    playThisSong(songNum) {
      console.log("this.musicList : ", this.musicList);
      console.log("songNum :", songNum);
      console.log("this.musicList[songNum] :", this.musicList[songNum]);

      if (
        this.musicList[songNum].savedOnDevice ||
        this.musicList[songNum].download == "completed"
      ) {
        this.playSong(songNum);
      } else {
        if (this.musicList[songNum].download == "no") {
          this.cordova.on("deviceready", () => {
            window.resolveLocalFileSystemURL(
              this.cordova.file.externalApplicationStorageDirectory,
              (dirEntry) => {
                // console.log("file system open: ", dirEntry);
                this.createDirectory(dirEntry, songNum);
              },
              (err) => {
                console.log("resolveLocalFileSystemURL err:", err);
              }
            );
          });
        } else {
          console.log("DOWNLOAD STATUS : ", this.musicList[songNum].download);
        }
      }
    },
    createDirectory(rootDirEntry, songNum) {
      var songName = this.musicList[songNum].name;
      rootDirEntry.getDirectory(
        this.constants.MUSICFOLDER,
        { create: true },
        (dirEntry) => {
          // console.log("getDirectory dirEntry:", dirEntry);

          if (this.cordova.connection.type != "none") {
            dirEntry.getFile(
              songName,
              { create: true, exclusive: false },
              (fileEntry) => {
                // console.log("fileEntry : ", fileEntry);

                this.downloadFile(fileEntry, songNum);
              },
              (err) => {
                console.log("dirEntry err:", err);
              }
            );
          } else {
            this.showConnectionErrorToast();
          }
        },
        (err) => {
          console.log("getDirectory err:", err);
        }
      );
    },
    downloadFile(fileEntry, songNum) {
      var fileTransfer = new this.cordova.FileTransfer();
      var fileURL = fileEntry.toURL();
      var showOnce = 1;
      fileTransfer.onprogress = (progressEvent) => {
        if (progressEvent.lengthComputable) {
          var loadedSize = progressEvent.loaded;
          var kbLoaded = parseInt(loadedSize / 1000);
          if (kbLoaded > 1 && kbLoaded > this.musicList[songNum].loadedSize) {
            this.musicList[songNum].download = "in-progress";
            this.musicList[songNum].loadedSize = kbLoaded;
          }
          if (showOnce > 0 && this.musicList[songNum].loadedSize >= 400) {
            showOnce--;
            this.musicList[songNum].fileURL = fileURL;
            // console.log("progressEvent : ", progressEvent);
            // console.log(
            //   "progressEvent this.musicList[songNum] : ",
            //   this.musicList[songNum].loadedSize
            // );
          }
        }
      };
      // console.log("downloadFile fileURL:", fileURL);

      if (this.cordova.connection.type != "none") {
        this.musicList[songNum].download = "in-progress";
        this.musicList[songNum].firebaseURL.then((url) => {
          fileTransfer.download(
            url,
            fileURL,
            (entry) => {
              console.log("Successful download...");
              console.log("download complete: ", entry);
              this.musicList[songNum].download = "completed";
              this.musicList[songNum].savedOnDevice = true;
              this.musicList[songNum].fileURL = entry.toURL();
              this.playSong(songNum);
            },
            (error) => {
              console.log("download error source ", error);
            }
          );
        });
      } else {
        this.showConnectionErrorToast();
        console.log("downloadFile INTERNET NOT CONNECTED");
      }
    },
    playSong(songNum) {
      var songURL = this.musicList[songNum].fileURL;
      // console.log("this.media: ", this.media);
      this.cordova.on("deviceready", () => {
        if (this.media != null) {
          // console.log("stop CURRNT Media");
          this.media.stop();
        }
        this.media = new this.cordova.Media(
          songURL,
          this.mediaSuccess,
          this.mediaError,
          this.mediaStatus
        );
        this.selectedSongNum = songNum;
        this.media.play();
      });
    },
    stopMusic() {
      console.log("this.musicList : ", this.musicList);
      this.selectedSongNum = -1;
      if (this.media != null) {
        // console.log("stop CURRNT Media");
        this.media.stop();
        this.media.release();
      }
    },
    mediaSuccess(s) {
      console.log("mediaSuccess", s);
    },
    mediaError(e) {
      console.log("mediaError", e);
    },
    mediaStatus(status) {
      console.log("mediaStatus : ", status);
    },
    showConnectionErrorToast() {
      this.cordova.on("deviceready", () => {
        this.cordova.toast.showWithOptions(
          {
            message: "Connection Unavailable",
            duration: "short",
            position: "bottom",
            addPixelsY: 0,
          },
          (success) => {
            console.log("toast.showWithOptions success : ", success);
          },
          (err) => {
            console.log("toast.showWithOptions err : ", err);
          }
        );
      });
    },
  },
};
</script>

<style scoped>
.overflow-prop {
  overflow: auto;
}
.my-5 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.h-90 {
  height: 90% !important;
}
.h-10 {
  height: 10% !important;
}
.h-99 {
  height: 99% !important;
}
.word-break {
  word-break: break-word;
}
.highlight_this_white {
  box-sizing: border-box;
  border-radius: 10px;
  animation-name: highlight_this_white_anim;
  animation-timing-function: ease-in-out;
  animation-duration: 10s;
}
@keyframes highlight_this_white_anim {
  0% {
    border: 2px solid blueviolet;
    box-shadow: 15px 15px 13px rgba(0, 0, 0, 0.5);
  }
  100% {
    border: 0px;
    box-shadow: none;
  }
}
.highlight_this_black {
  box-sizing: border-box;
  border-radius: 10px;
  animation-name: highlight_this_black_anim;
  animation-timing-function: ease-in-out;
  animation-duration: 10s;
}
@keyframes highlight_this_black_anim {
  0% {
    border: 2px solid blueviolet;
    box-shadow: 15px 15px 13px rgba(146, 137, 137, 0.5);
  }
  100% {
    border: 0px;
    box-shadow: none;
  }
}
</style>
