<template>
  <div>
    <div class="main_setting row">
      <div v-if="!showBackBtn" @click="getTokens" class="iconClass">
        <div>
          <div>
            <img v-if="darkTheme" src="../../assets/icons/key_white_24.png" />
            <img v-else src="../../assets/icons/key_black_24.png" />
          </div>
          <div>{{ tokenValue }} Tokens</div>
        </div>
      </div>
      <div
        v-if="!showBackBtn && pointsValue + pointVal > 0"
        class="iconClass pointsClass"
      >
        <div>
          <div>
            <img v-if="darkTheme" src="../../assets/icons/points_white_24.png" />
            <img v-else src="../../assets/icons/points_black_24.png" />
          </div>
          <div>{{ pointsValue + pointVal }} Points</div>
        </div>
      </div>
      <div v-if="showBackBtn" @click="backBtn" class="iconClass">
        <img v-if="darkTheme" src="../../assets/icons/arrow_back_white_24dp.svg" />
        <img v-else src="../../assets/icons/arrow_back_black_24dp.svg" />
      </div>
      <div @click="toggleTheme" class="iconClass themeClass">
        <img v-if="darkTheme" src="../../assets/icons/wb_sunny_white_24dp.svg" />
        <img v-else src="../../assets/icons/nights_stay_black_24dp.svg" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "NavOptions",
  props: [
    "dark-theme",
    "token-value",
    "points-value",
    "show-back-btn",
    "points-updated",
    "points-to-increase",
  ],
  emits: ["toggle-theme", "back-btn-pressed", "points-updated"],
  data() {
    return {
      pointVal: 0,
    };
  },
  watch: {
    showBackBtn(n, o) {
      console.log("showBackBtn NAVOPTIONS n:", n, " o:", o);
      if (!n) {
        console.log("NAVOPTIONS this.pointsToIncrease:", this.pointsToIncrease);
        console.log("NAVOPTIONS this.pointVal:", this.pointVal);
        var intVal = setInterval(() => {
          if (this.pointsToIncrease - this.pointVal < 5) {
            this.pointVal += this.pointsToIncrease - this.pointVal;
            clearInterval(intVal);
            console.log("AFTER CLEARINTERVAL");
            this.$emit("points-updated", true);
          } else {
            this.pointVal += 5;
          }
        }, 1);
      }
    },
    pointsValue(n) {
      console.log("pointsValue NAVOPTIONS n:", n);
      this.pointVal = 0;
    },
  },
  mounted() {
    this.cordova.on("deviceready", () => {
      document.removeEventListener("backbutton", (event) => {
        console.log("removeEventListener : ", event);
      });
      document.addEventListener(
        "backbutton",
        (event) => {
          event.preventDefault();
          this.backBtn();
        },
        false
      );
    });
  },
  computed: {
    borderColor() {
      if (this.darkTheme) {
        return {
          border: "1px solid white",
        };
      } else {
        return {
          border: "1px solid black",
        };
      }
    },
  },
  methods: {
    toggleTheme() {
      this.$emit("toggle-theme", !this.darkTheme);
    },
    backBtn() {
      this.$emit("back-btn-pressed", true);
    },
    getTokens() {
      console.log("getTokens");
      // this.cordova.on("deviceready", () => {
      //   if (this.cordova.connection.type != "none") {
      //     this.showLoader = true;
      //     this.$emit("add-new-token", 3);
      //   } else {
      //     this.showConnectionErrorToast();
      //   }
      // });
    },
    showConnectionErrorToast() {
      this.cordova.on("deviceready", () => {
        this.cordova.toast.showWithOptions(
          {
            message: "Connection Unavailable",
            duration: "short",
            position: "bottom",
            addPixelsY: -100,
            styling: {
              backgroundColor: this.darkTheme ? "#fddc72" : "#3f57f6", // make sure you use #RRGGBB. Default #333333
              textColor: this.darkTheme ? "#3f57f6" : "#fddc72", // Ditto. Default #FFFFFF
              textSize: 20.5, // Default is approx. 13.
              cornerRadius: 50, // minimum is 0 (square). iOS default 20, Android default 100
              horizontalPadding: 80, // iOS default 16, Android default 50
              verticalPadding: 50, // iOS default 12, Android default 30
            },
          },
          (success) => {
            console.log("toast.showWithOptions success : ", success);
          },
          (err) => {
            console.log("toast.showWithOptions err : ", err);
          }
        );
      });
    },
  },
};
</script>

<style scoped>
.main_setting {
  height: 100%;
}
.iconClass {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  margin: auto 10px;
}
.themeClass {
  margin-left: auto;
}
.pointsClass {
  margin: auto;
}
</style>
