<template>
  <div @click="rateApp">
    <img
      class="tokenImg"
      v-if="darkTheme"
      src="../../assets/icons/thumb_up_white_24dp.svg"
    />
    <img class="tokenImg" v-else src="../../assets/icons/thumb_up_black_24dp.svg" />
  </div>
  <teleport to="body">
    <div v-if="showRateDialog" class="dialog-div">
      <div class="dialog-box" :style="getStyles">
        <div class="dialog-box-inner">
          <div>
            Would you mind rating
            <h3>{{ displayAppName }}</h3>
          </div>
          <div>
            It won’t take more than a minute and helps to promote our app. Thanks for your
            support!
          </div>
          <div class="row m-x-1">
            <div
              @click="goToMarketFunc"
              class="w-50 mr-5 align-v-h-center rate-icon border-gray pad"
            >
              <img
                class="tokenImg"
                v-if="darkTheme"
                src="../../assets/icons/thumb_up_white_48dp.svg"
              />
              <img
                class="tokenImg"
                v-else
                src="../../assets/icons/thumb_up_black_48dp.svg"
              />
            </div>
            <div
              @click="remindLaterFunc"
              class="w-50 ml-5 align-v-h-center rate-icon border-gray pad"
            >
              Remind Me Later
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="showFeedbackDialog" class="dialog-div">
      <div class="dialog-box" :style="getStyles">
        <div class="dialog-box-inner">
          <div>
            Do you like using
            <h3>{{ displayAppName }}</h3>
          </div>
          <div>Mind giving us some feedback?</div>
          <div class="row m-x-1">
            <div
              @click="notGivingFeedbackFunc"
              class="w-33 align-v-h-center rate-icon border-gray pad"
            >
              Not really
            </div>
            <div
              @click="giveFeedbackFunc"
              class="w-33 m-x-1 align-v-h-center rate-icon border-gray pad"
            >
              <img
                class="tokenImg"
                v-if="darkTheme"
                src="../../assets/icons/contact_mail_white_48dp.svg"
              />
              <img
                class="tokenImg"
                v-else
                src="../../assets/icons/contact_mail_black_48dp.svg"
              />
            </div>
            <div
              @click="neverAskAboutFeedbackFunc"
              class="w-33 align-v-h-center rate-icon border-gray pad"
            >
              Do not ask again!
            </div>
          </div>
        </div>
      </div>
    </div>
  </teleport>
</template>

<script>
export default {
  name: "OtherSettings",
  emits: ["never-ask-about-feedback"],
  props: ["dark-theme", "ask-about-feedback"],
  data() {
    return {
      showRateDialog: false,
      showFeedbackDialog: false,
      deviceInfo: null,
      body_line: escape("\n"),
      displayAppName: this.constants.APP_NAME,
    };
  },
  computed: {
    getStyles() {
      if (this.darkTheme) {
        return {
          backgroundColor: "black",
          color: "white",
          boxShadow: "15px 15px 13px rgba(146, 137, 137, 0.5)",
        };
      } else {
        return {
          backgroundColor: "white",
          color: "black",
          boxShadow: "15px 15px 13px rgba(0, 0, 0, 0.5)",
        };
      }
    },
  },
  mounted() {
    this.cordova.on("deviceready", () => {
      this.deviceInfo = "Device's manufacturer : " + this.cordova.device.manufacturer;
      this.deviceInfo += this.body_line + "Device's model : " + this.cordova.device.model;
      this.deviceInfo +=
        this.body_line + "Device's operating system : " + this.cordova.device.platform;
      this.deviceInfo +=
        this.body_line + "Device's OS version : " + this.cordova.device.version;
      this.deviceInfo += this.body_line + "Device's UUID : " + this.cordova.device.uuid;
      this.deviceInfo +=
        this.body_line +
        "Device running on a simulator : " +
        this.cordova.device.isVirtual;
      this.deviceInfo +=
        this.body_line +
        "Device's hardware serial number : " +
        this.cordova.device.serial;
      this.deviceInfo +=
        this.body_line + "Cordova Version : " + this.cordova.device.cordova;
      // console.log("this.deviceInfo : ", this.deviceInfo);
    });
  },
  methods: {
    rateApp() {
      console.log("rateApp");
      this.showRateDialog = true;
    },
    remindLaterFunc() {
      console.log("remindLaterFunc");
      this.showRateDialog = false;
      if (this.askAboutFeedback) {
        this.showFeedbackDialog = true;
      }
    },
    goToMarketFunc() {
      console.log("goToMarketFunc");
      this.cordova.on("deviceready", () => {
        setTimeout(() => {
          this.showRateDialog = false;
          this.showFeedbackDialog = false;
        }, 600);

        window.location.replace("market://details?id=" + this.constants.PACKAGE_NAME);
      });
    },
    notGivingFeedbackFunc() {
      console.log("notGivingFeedbackFunc");
      this.showFeedbackDialog = false;
    },
    giveFeedbackFunc() {
      console.log("giveFeedbackFunc");
      this.cordova.on("deviceready", () => {
        setTimeout(() => {
          this.showRateDialog = false;
          this.showFeedbackDialog = false;
        }, 500);

        window.open(
          "mailto:" +
            this.constants.MY_MAIL +
            "?subject=" +
            this.constants.MAIL_SUBJECT +
            "&body=" +
            this.deviceInfo +
            this.body_line +
            this.body_line +
            "Please provide your feedback/issue here : " +
            this.body_line,
          "_system"
        );
      });
    },
    neverAskAboutFeedbackFunc() {
      console.log("neverAskAboutFeedbackFunc");
      this.showFeedbackDialog = false;
      this.$emit("never-ask-about-feedback", true);
    },
  },
};
</script>

<style scoped>
.pad {
  padding: 10px;
}
.dialog-div {
  position: fixed;
  top: 0vh;
  left: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dialog-box {
  border: 3px solid blueviolet;
  border-radius: 20px;
  width: 65%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dialog-box-inner {
  width: 100%;
  text-align: center;
}
h3 {
  margin-top: 0px;
  margin-bottom: 8px;
}
.rate-icon {
  margin-top: 10px;
  margin-bottom: 10px;
}
</style>
