<template>
  <div class="h-100">
    <div :style="getBoxShadow" @click="fillFunc" class="h-100 align-v-h-center">
      <img v-if="darkTheme" src="../../../assets/icons/fill_pencil_white_24.png" />
      <img v-else src="../../../assets/icons/fill_pencil_black_24.png" />
    </div>
  </div>
</template>

<script>
export default {
  name: "PencilFillAllBlocks",
  props: ["dark-theme"],
  emit: ["use-pencil-token"],
  computed: {
    getBoxShadow() {
      if (this.darkTheme) {
        return {
          boxShadow: "rgba(111, 104, 104, 1) 0px 0px 13px",
        };
      } else {
        return {
          boxShadow: "rgba(0, 0, 0, 1) 0px 0px 10px",
        };
      }
    },
  },
  methods: {
    fillFunc() {
      this.$emit("use-pencil-token", true);
    },
  },
};
</script>

<style scoped></style>
