<template>
  <div class="dialog-div">
    <div class="dialog-box" :style="getStyles">
      <div class="dialog-box-inner">
        <div class="dialog-msg">Game Over</div>
        <div v-if="gameCompleted">{{ gameStartType.level.toUpperCase() }}</div>
        <div v-if="gameCompleted" class="game-time">
          <div>
            {{ bestGame }}
          </div>
          <div>
            {{
              (gameStartType.type == "classic" ? "Curr Time : " : "Curr High Score : ") +
              currGame
            }}
          </div>
        </div>
        <div class="buttonss" v-if="gameCompleted">
          <div @click="goToHomeFunc" class="btns" :style="borderColor">Home</div>
          <div @click="newGameFunc" class="btns" :style="borderColor">New Game</div>
        </div>
        <div v-if="mistakeCntExceeded">Mistake Count Exceeded!</div>
        <div class="buttonss" v-if="mistakeCntExceeded">
          <div v-if="showLoader" class="w-40">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              style="background: transaparent; shape-rendering: auto; margin: auto"
              width="25%"
              height="25%"
              viewBox="0 0 100 100"
              preserveAspectRatio="xMidYMid"
            >
              <circle cx="50" cy="50" r="0" fill="none" stroke="#e90c59" stroke-width="2">
                <animate
                  attributeName="r"
                  repeatCount="indefinite"
                  dur="1s"
                  values="0;40"
                  keyTimes="0;1"
                  keySplines="0 0.2 0.8 1"
                  calcMode="spline"
                  begin="-0.5s"
                ></animate>
                <animate
                  attributeName="opacity"
                  repeatCount="indefinite"
                  dur="1s"
                  values="1;0"
                  keyTimes="0;1"
                  keySplines="0.2 0 0.8 1"
                  calcMode="spline"
                  begin="-0.5s"
                ></animate>
              </circle>
              <circle cx="50" cy="50" r="0" fill="none" stroke="#46dff0" stroke-width="2">
                <animate
                  attributeName="r"
                  repeatCount="indefinite"
                  dur="1s"
                  values="0;40"
                  keyTimes="0;1"
                  keySplines="0 0.2 0.8 1"
                  calcMode="spline"
                ></animate>
                <animate
                  attributeName="opacity"
                  repeatCount="indefinite"
                  dur="1s"
                  values="1;0"
                  keyTimes="0;1"
                  keySplines="0.2 0 0.8 1"
                  calcMode="spline"
                ></animate>
              </circle>
              <!-- [ldio] generated by https://loading.io/ -->
            </svg>
          </div>
          <div v-else @click="gotSecondChanceFunc" class="btns" :style="borderColor">
            <div>Second Chance</div>
          </div>
          <div @click="newGameFunc" class="btns" :style="borderColor">New Game</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "GameComplete",
  props: [
    "dark-theme",
    "game-completed",
    "mistake-cnt-exceeded",
    "game-start-type",
    "curr-clk-state",
    "high-score-val",
    "curr-lightening-state",
    "stop-showing-loader",
  ],
  emit: [
    "game-complete-dialog",
    "save-high-score",
    "go-to-home",
    "request-for-second-chance",
  ],
  data() {
    return {
      currHighScore: Infinity,
      showLoader: false,
    };
  },
  watch: {
    stopShowingLoader(n) {
      if (n) {
        this.showLoader = false;
      }
    },
  },
  computed: {
    borderColor() {
      if (this.darkTheme) {
        return {
          border: "1px solid white",
        };
      } else {
        return {
          border: "1px solid black",
        };
      }
    },
    getStyles() {
      if (this.darkTheme) {
        return {
          backgroundColor: "black",
          color: "white",
          boxShadow: "15px 15px 13px rgba(146, 137, 137, 0.5)",
        };
      } else {
        return {
          backgroundColor: "white",
          color: "black",
          boxShadow: "15px 15px 13px rgba(0, 0, 0, 0.5)",
        };
      }
    },
    currGame() {
      // console.log("CURRGAME this.currClkState.resumeTime:", this.currClkState.resumeTime);
      if (this.gameStartType.type == "classic") {
        return this.seconds_to_hours_mins_secs_str(this.currClkState.resumeTime);
      } else {
        return this.currLighteningState;
      }
    },
    bestGame() {
      console.log("bestGame GAMECOMPLETE ", this.highScoreVal);
      if (this.gameStartType.type == "classic") {
        if (
          this.highScoreVal == Infinity ||
          this.currClkState.resumeTime < this.highScoreVal
        ) {
          return "Best Time : " + this.currGame;
        }
        return "Best Time : " + this.seconds_to_hours_mins_secs_str(this.highScoreVal);
      } else {
        if (
          this.highScoreVal == Infinity ||
          this.currLighteningState > this.highScoreVal
        ) {
          return "Best High Score : " + this.currGame;
        }
        return "Best High Score : " + this.highScoreVal;
      }
    },
  },
  beforeMount() {
    console.log(
      "beforeMount GAMECOMPLETE this.gameStartType.type:",
      this.gameStartType.type
    );
    console.log("beforeMount GAMECOMPLETE this.currClkState:", this.currClkState);
    console.log(
      "beforeMount GAMECOMPLETE this.currLighteningState:",
      this.currLighteningState
    );
    if (this.gameStartType.type == "classic") {
      this.$emit("save-high-score", this.currClkState.resumeTime);
    } else {
      this.$emit("save-high-score", this.currLighteningState);
    }
  },
  methods: {
    newGameFunc() {
      this.$emit("game-complete-dialog", "new");
    },
    goToHomeFunc() {
      this.$emit("go-to-home", true);
    },
    gotSecondChanceFunc() {
      // console.log("gotSecondChanceFunc");
      this.cordova.on("deviceready", () => {
        if (this.cordova.connection.type != "none") {
          this.showLoader = true;
          this.$emit("request-for-second-chance", true);
        } else {
          this.showConnectionErrorToast();
        }
      });
    },
    seconds_to_hours_mins_secs_str(seconds) {
      var hours = Math.floor(seconds / (60 * 60));
      seconds -= hours * (60 * 60);
      var minutes = Math.floor(seconds / 60);
      seconds -= minutes * 60;
      var ret = "";
      if (hours > 0) {
        ret += (hours < 10 ? "0" + hours : hours) + ":";
      }
      ret += (minutes < 10 ? "0" + minutes : minutes) + ":";

      ret += seconds < 10 ? "0" + seconds : seconds;
      return ret;
    },
    showConnectionErrorToast() {
      this.cordova.on("deviceready", () => {
        this.cordova.toast.showWithOptions(
          {
            message: "Connection Unavailable",
            duration: "short",
            position: "bottom",
            addPixelsY: -100,
            styling: {
              backgroundColor: this.darkTheme ? "#fddc72" : "#3f57f6", // make sure you use #RRGGBB. Default #333333
              textColor: this.darkTheme ? "#3f57f6" : "#fddc72", // Ditto. Default #FFFFFF
              textSize: 20.5, // Default is approx. 13.
              cornerRadius: 50, // minimum is 0 (square). iOS default 20, Android default 100
              horizontalPadding: 80, // iOS default 16, Android default 50
              verticalPadding: 50, // iOS default 12, Android default 30
            },
          },
          (success) => {
            console.log("toast.showWithOptions success : ", success);
          },
          (err) => {
            console.log("toast.showWithOptions err : ", err);
          }
        );
      });
    },
  },
};
</script>

<style scoped>
div {
  text-align: center;
}
.dialog-div {
  position: fixed;
  top: 0vh;
  left: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dialog-box {
  border: 3px solid blueviolet;
  border-radius: 20px;
  width: 65%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dialog-msg {
  padding: 5px;
}
.dialog-box-inner {
  width: 100%;
}
.buttonss {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btns {
  width: 40%;
  border-radius: 10px;
  margin: 2px auto;
  padding: 5px;
}
.w-40 {
  width: 40%;
}
.game-time {
  padding: 5px;
}
</style>
