<template>
  <div class="help_obj h-100">
    <div class="help_obj_inner h-100">
      <div class="row h-100">
        <div class="m-x-1 w-33">
          <pencil-fill-all-blocks
            :dark-theme="darkTheme"
            @use-pencil-token="usePencilTokenFunc"
          ></pencil-fill-all-blocks>
        </div>
        <div class="m-x-1 w-33">
          <show-specific-num
            :dark-theme="darkTheme"
            @use-specific-num-token="useSpecificNumTokenFunc"
          ></show-specific-num>
        </div>
        <div class="m-x-1 w-33">
          <stop-timer
            :dark-theme="darkTheme"
            @use-stop-timer-token="useStopTimerTokenFunc"
          ></stop-timer>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PencilFillAllBlocks from "./helpObjects/PencilFillAllBlocks.vue";
import ShowSpecificNum from "./helpObjects/ShowSpecificNum.vue";
import StopTimer from "./helpObjects/StopTimer.vue";

export default {
  name: "HelpObj",
  props: ["dark-theme"],
  emit: ["use-pencil-token", "use-specific-num-token", "use-stop-timer-token"],
  components: {
    PencilFillAllBlocks,
    ShowSpecificNum,
    StopTimer,
  },
  methods: {
    usePencilTokenFunc(t) {
      this.$emit("use-pencil-token", t);
    },
    useSpecificNumTokenFunc(t) {
      this.$emit("use-specific-num-token", t);
    },
    useStopTimerTokenFunc(t) {
      this.$emit("use-stop-timer-token", t);
    },
  },
};
</script>

<style scoped>
.help_obj {
  margin: auto;
}
.help_obj_inner {
  width: 50%;
  margin: auto;
  /* padding: 1px; */
}
</style>
