<template>
  <div class="number_bar_outer h-100">
    <div class="w-100 h-100 number_bar_inner">
      <div class="numBox" v-for="i in 9" :key="i">
        <div
          class="number_bar border border-primary"
          :style="getBoxShadow"
          @click="numSelectedFunc(i)"
          v-if="numToHide[i - 1] == 0"
        >
          <div class="num_block h-100">
            {{ i }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "NumberBar",
  props: ["dark-theme", "num-bar-to-hide-arr"],
  emits: ["num-to-enter"],
  data() {
    return {
      numToHide: [0, 0, 0, 0, 0, 0, 0, 0, 0],
    };
  },
  mounted() {
    // console.log("NUMBERBAR MOUNTED : numBarToHideArr:", this.numBarToHideArr);
    for (var i = 0; i < 9; i++) {
      this.numToHide[i] = 0;
    }
    if (this.numBarToHideArr != null) {
      for (i = 0; i < this.numBarToHideArr.length; i++) {
        this.numToHide[this.numBarToHideArr[i] - 1] = 1;
      }
    }
  },
  watch: {
    numBarToHideArr(n) {
      // console.log("numBarToHideArr NUMBERBAR n:", n, " o:", o);
      for (var i = 0; i < 9; i++) {
        this.numToHide[i] = 0;
      }
      for (i = 0; i < n.length; i++) {
        this.numToHide[n[i] - 1] = 1;
      }
    },
  },
  computed: {
    getBoxShadow() {
      if (this.darkTheme) {
        return {
          boxShadow: "5px 6px 4px rgba(111, 104, 104, 0.6)",
        };
      } else {
        return {
          boxShadow: "5px 6px 4px rgba(0, 0, 0, 0.6)",
        };
      }
    },
  },
  methods: {
    numSelectedFunc(num) {
      // console.log("num : ", num);
      this.$emit("num-to-enter", num);
    },
  },
};
</script>

<style scoped>
.number_bar_inner {
  display: flex;
  justify-content: space-between;
}
.numBox {
  width: 8%;
  height: 90%;
  padding: 0px;
  margin: 0px;
}
.number_bar {
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.border {
  border: 1px solid rgb(0, 38, 255);
}
.num_block {
  font-size: 1.5em;
  display: flex;
  align-items: center;
}
.darkBoxShadow {
  box-shadow: 5px 6px 4px rgba(111, 104, 104, 0.6);
}
.whiteBoxShadow {
  box-shadow: 5px 6px 4px rgba(0, 0, 0, 0.6);
}
</style>
