<template>
  <div>
    <div class="num_help_bar">
      <transition name="fade" mode="out-in">
        <div v-if="showNumBar" class="h-100">
          <number-bar
            :dark-theme="darkTheme"
            :num-bar-to-hide-arr="numBarToHideArr"
            @num-to-enter="numToEnterFunc"
          ></number-bar>
        </div>
        <div v-else class="h-100">
          <help-obj
            :dark-theme="darkTheme"
            @use-pencil-token="usePencilTokenFunc"
            @use-stop-timer-token="useStopTimerTokenFunc"
            @use-specific-num-token="useSpecificNumTokenFunc"
          ></help-obj>
        </div>
      </transition>
    </div>
    <div class="help_obj_bulb">
      <div @click="toggleHelpObj" v-if="showNumBar" class="help_obj_bulb_inner">
        <img v-if="darkTheme" src="../../assets/icons/icons8_light_white_24.png" />
        <img v-else src="../../assets/icons/icons8_light_black_24.png" />
      </div>
      <div @click="toggleHelpObj" v-else class="help_obj_bulb_inner">
        <img v-if="darkTheme" src="../../assets/icons/icons8_light_on_white_24.png" />
        <img v-else src="../../assets/icons/icons8_light_on_black_24.png" />
      </div>
    </div>
  </div>
</template>

<script>
import NumberBar from "./NumberBar.vue";
import HelpObj from "./HelpObj.vue";

export default {
  name: "NumHelpBar",
  props: ["dark-theme", "num-bar-to-hide-arr"],
  emit: ["use-pencil-token", "use-specific-num-token", "use-stop-timer-token"],
  components: {
    HelpObj,
    NumberBar,
  },
  data() {
    return {
      showNumBar: true,
    };
  },
  methods: {
    toggleHelpObj() {
      this.showNumBar = !this.showNumBar;
    },
    numToEnterFunc(num) {
      this.$emit("num-to-enter", num);
    },
    usePencilTokenFunc(t) {
      this.$emit("use-pencil-token", t);
    },
    useSpecificNumTokenFunc(t) {
      this.$emit("use-specific-num-token", t);
    },
    useStopTimerTokenFunc(t) {
      this.$emit("use-stop-timer-token", t);
    },
  },
};
</script>

<style scoped>
/* .help_obj_bulb {
  padding: 10px 0px;
} */
.help_obj_bulb_inner {
  width: 15%;
  margin: auto;
}
.num_help_bar {
  height: 6vh;
  /* border: 1px solid yellow; */
  margin-bottom: 10px;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
</style>
