<template>
  <div class="sudoku-area-class">
    <div class="sudoku_area">
      <sudoku-options
        :dark-theme="darkTheme"
        :mistake-cnt="mistakeCnt"
        :showed-hint="showedHint"
        :sudoku-data="sudokuData"
        :token-value="tokenValue"
        :hint-rewarded="hintRewarded"
        :game-start-type="gameStartType"
        :num-entered-type="numEnteredType"
        :alert-token-needed="alertTokenNeeded"
        :give-second-chance="giveSecondChance"
        :stop-showing-loader="stopShowingLoader"
        :use-stop-timer-token="useStopTimerToken"
        :cell-data-erased-type="cellDataErasedType"
        :new-game-start-dialog="newGameStartDialog"
        :num-entered-in-sudoku="numEnteredInSudoku"
        :stop-watch-game-complete="gameCompleted || mistakeCntExceeded"
        @clock-status="saveClockState"
        @erase-cell-data="eraseCellDataFunc"
        @hint-cnt-reduced="hintCntReducedFunc"
        @request-for-hint="requestForHintFunc"
        @curr-clock-status="currClockStateFunc"
        @show-hint-clicked="showHintClickedFunc"
        @pen-pencil-selected="penPencilSelectedFunc"
        @second-chance-given="secondChanceGivenFunc"
        @curr-lightening-score="currLighteningScoreFunc"
        @lightening-score-status="lighteningScoreStatusFunc"
        @alert-token-needed-success="alertTokenNeededSuccessFunc"
        @use-stop-timer-token-success="useStopTimerTokenSuccessFunc"
        @num-entered-in-sudoku-success="numEnteredInSudokuSuccessFunc"
      ></sudoku-options>
      <sudoku-block
        :show-hint="showHint"
        :dark-theme="darkTheme"
        :sudoku-data="sudokuData"
        :token-value="tokenValue"
        :num-to-enter="numToEnter"
        :erase-cell-data="eraseCellData"
        :game-start-type="gameStartType"
        :pencil-selected="pencilSelected"
        :use-pencil-token="usePencilToken"
        :pencil-token-applied="pencilTokenApplied"
        :new-game-start-dialog="newGameStartDialog"
        :use-specific-num-token="useSpecificNumToken"
        @showed-hint="showedHintFunc"
        @game-completed="gameCompletedFunc"
        @new-game-start="newGameStartFunc"
        @save-matrices="saveMatricesState"
        @num-bar-to-hide="numBarToHideFunc"
        @cell-data-erased="cellDataErasedFunc"
        @num-to-enter-success="numToEnterSuccessFunc"
        @clk-status-before-pause="numToEnterSuccessFunc"
        @use-pencil-token-success="usePencilTokenSuccessFunc"
        @use-specific-num-token-success="useSpecificNumTokenSuccessFunc"
      ></sudoku-block>
      <num-help-bar
        :dark-theme="darkTheme"
        :num-bar-to-hide-arr="numBarToHideArr"
        @num-to-enter="numToEnterFunc"
        @use-pencil-token="usePencilTokenFunc"
        @use-stop-timer-token="useStopTimerTokenFunc"
        @use-specific-num-token="useSpecificNumTokenFunc"
      ></num-help-bar>
      <teleport to="body">
        <game-complete
          v-if="gameCompleted || mistakeCntExceeded"
          :dark-theme="darkTheme"
          :curr-clk-state="currClkState"
          :high-score-val="highScoreVal"
          :game-completed="gameCompleted"
          :game-start-type="gameStartType"
          :stop-showing-loader="stopShowingLoader"
          :mistake-cnt-exceeded="mistakeCntExceeded"
          :curr-lightening-state="currLighteningState"
          @go-to-home="goToHomeFunc"
          @save-high-score="saveHighScoreFunc"
          @game-complete-dialog="gameCompleteDialogFunc"
          @request-for-second-chance="requestForSecondChanceFunc"
        ></game-complete>
      </teleport>
    </div>
  </div>
</template>

<script>
import NumHelpBar from "./NumHelpBar.vue";
import SudokuBlock from "./SudokuBlock.vue";
import GameComplete from "./GameComplete.vue";
import SudokuOptions from "./SudokuOptions.vue";

export default {
  name: "SudokuArea",
  props: [
    "dark-theme",
    "sudoku-data",
    "token-value",
    "hint-rewarded",
    "game-start-type",
    "stop-showing-loader",
    "second-chance-rewarded",
  ],
  emits: [
    "save-sudoku-status",
    "save-sudoku-curr-status",
    "new-game-start",
    "save-high-score",
    "go-to-home",
    "to-calculate-points",
    "update-stop-timer-token",
    "give-second-chance",
    "request-for-second-chance",
    "second-chance-rewarded-complete",
    "request-for-hint",
    "hint-rewarded-complete",
  ],
  data() {
    return {
      numToEnter: -1,
      pencilSelected: false,
      toBeSavedClockState: null,
      toBeSavedMatricesState: null,
      currClkState: null,
      eraseCellData: 0,
      mistakeCnt: 0,
      showHint: false,
      showedHint: false,
      usePencilToken: false,
      useSpecificNumToken: false,
      useStopTimerToken: false,
      pencilTokenApplied: false,
      gameCompleted: false,
      mistakeCntExceeded: false,
      newGameStartDialog: false,
      highScoreVal: null,
      goToHomeCalled: false,
      numBarToHideArr: null,
      toBeSavedLighteningScoreState: null,
      numEnteredInSudoku: false,
      currLighteningState: null,
      numEnteredType: null,
      cellDataErasedType: null,
      giveSecondChance: false,
      alertTokenNeeded: false,
    };
  },
  components: {
    NumHelpBar,
    SudokuBlock,
    GameComplete,
    SudokuOptions,
  },
  watch: {
    darkTheme(n, o) {
      console.log("darkThemedarkThemedarkThemedarkTheme n :", n, " o :", o);
    },
    secondChanceRewarded(t) {
      console.log("secondChanceRewarded : ", t);
      if (t) {
        this.giveSecondChanceFunc({ secondChance: true });
      }
      this.$emit("second-chance-rewarded-complete", true);
    },
    hintRewarded(n) {
      console.log("hintRewarded : ", n);
      if (n) {
        this.showHintClickedFunc(true);
      }
    },
  },
  mounted() {
    // this.$emit("sudoku-area-mounted", true);
    for (var i = 0; i < this.sudokuData.length; i++) {
      if (
        this.sudokuData[i].type == this.gameStartType.type &&
        this.sudokuData[i].level == this.gameStartType.level
      ) {
        this.highScoreVal = this.sudokuData[i].highScore;
        // console.log("this.highScoreVal SUDOKUAREA : ", this.highScoreVal);
      }
    }
  },
  unmounted() {
    // console.log("unmounted SUDOKUAREA ");
    // console.log("this.toBeSavedClockState : ", this.toBeSavedClockState);
    // console.log("this.toBeSavedMatricesState : ", this.toBeSavedMatricesState);
    var toSave = {
      resumeTime: 0,
      clockAngle: 0,
      ansMatrix: null,
      currMatrix: null,
      initialMatrix: null,
      pencilData: null,
      currScore: Infinity,
      lighteningTimerState: null,
    };

    if (this.gameStartType.type == "classic" && this.toBeSavedClockState != null) {
      toSave.resumeTime = this.toBeSavedClockState.resumeTime;
      if (this.goToHomeCalled) {
        // console.log("this.goToHomeCalled SUDOKUAREA IFIFIFIFIF: ", this.goToHomeCalled);
        toSave.resumeTime = 0;
      } else {
        // console.log("this.goToHomeCalled SUDOKUAREA ELSEELSEELSE: ", this.goToHomeCalled);
        toSave.resumeTime = this.toBeSavedClockState.resumeTime;
      }
      toSave.clockAngle = this.toBeSavedClockState.clockAngle;
    }

    if (
      this.gameStartType.type == "lightening" &&
      this.toBeSavedLighteningScoreState != null
    ) {
      console.log("this.goToHomeCalled SUDOKUAREA: ", this.goToHomeCalled);
      if (this.goToHomeCalled) {
        toSave.lighteningTimerState = null;
      } else {
        toSave.lighteningTimerState = this.toBeSavedLighteningScoreState.lighteningTimerState;
      }
      console.log(
        "this.goToHomeCalled SUDOKUAREA toSave.lighteningTimerState: ",
        toSave.lighteningTimerState
      );
      toSave.currScore = this.toBeSavedLighteningScoreState.currScore;
    }

    if (this.toBeSavedMatricesState != null) {
      toSave.ansMatrix = JSON.parse(
        JSON.stringify(this.toBeSavedMatricesState.ansMatrix)
      );
      toSave.currMatrix = JSON.parse(
        JSON.stringify(this.toBeSavedMatricesState.currMatrix)
      );
      toSave.initialMatrix = JSON.parse(
        JSON.stringify(this.toBeSavedMatricesState.initialMatrix)
      );
      toSave.pencilData = JSON.parse(
        JSON.stringify(this.toBeSavedMatricesState.pencilData)
      );
    }
    // console.log("toSVAE SUDOKUAREA : ", toSave);
    this.$emit("save-sudoku-status", toSave);
  },
  methods: {
    saveClockState(t) {
      this.toBeSavedClockState = t;
    },
    saveMatricesState(t) {
      // console.log("saveMatricesState SUDOKUAREA : ", t);
      this.toBeSavedMatricesState = t;
    },
    penPencilSelectedFunc(t) {
      // console.log("penPencilSelectedFunc SUDOKUAREA : ", t);
      if (t == "pen") {
        this.pencilSelected = false;
      } else {
        this.pencilSelected = true;
      }
    },
    numToEnterFunc(num) {
      this.numToEnter = num;
    },
    numToEnterSuccessFunc(t) {
      // console.log("numToEnterSuccessFunc SUDOKUAREA: ", t);
      // console.log(
      //   "numToEnterSuccessFunc SUDOKUAREA this.currClkState: ",
      //   this.currClkState
      // );
      this.numToEnter = -1;
      if (t.success) {
        this.numEnteredInSudoku = true;
        if (t.numEntered && t.numCorrect) {
          if (this.currLighteningState != null) this.currLighteningState += 50;
        }
        var toSave = {
          ansMatrix: JSON.parse(JSON.stringify(t.data.ansMatrix)),
          initialMatrix: JSON.parse(JSON.stringify(t.data.initialMatrix)),
          currMatrix: JSON.parse(JSON.stringify(t.data.currMatrix)),
          pencilData: JSON.parse(JSON.stringify(t.data.pencilData)),
          resumeTime: this.currClkState != null ? this.currClkState.resumeTime : 0,
          clockAngle: this.currClkState != null ? this.currClkState.clockAngle : 0,
          currScore:
            this.currLighteningState != null ? this.currLighteningState : Infinity,
          lighteningTimerState: this.currLighteningState != null ? 100 : null,
        };
        if (t.numEntered && !t.numCorrect) {
          toSave.mistake = 1;
          this.mistakeCnt++;
        }
        if (t.entryType == "hint") {
          toSave.hint = 1;
        }
        if (t.entryType == "specificNum") {
          toSave.helpObjUsed = { showSpecificNum: 1 };
        }
        if (t.entryType == "pencilToken") {
          toSave.helpObjUsed = { pencilAll: 1 };
        }
        this.numEnteredType = {
          numEntered: t.numEntered,
          numCorrect: t.numCorrect,
          entryType: t.entryType,
        };
        // console.log("numToEnterSuccessFuncnumToEnterSuccessFunc SUDOKUAREA: ", toSave);
        this.$emit("save-sudoku-curr-status", toSave);
      }
    },
    currClockStateFunc(t) {
      this.currClkState = t;
    },
    eraseCellDataFunc() {
      this.eraseCellData++;
    },
    cellDataErasedFunc(t) {
      // console.log("cellDataErasedFunc SUDOKUAREA ", t);
      this.cellDataErasedType = t;
    },
    newGameStartFunc(t) {
      // console.log("newGameStartFuncnewGameStartFunc SUDOKUAREA");
      this.$emit("new-game-start", t);
      this.gameCompleted = false;
      this.mistakeCnt = 0;
      this.mistakeCntExceeded = false;
      this.newGameStartDialog = false;
      for (var i = 0; i < this.sudokuData.length; i++) {
        if (
          this.sudokuData[i].type == this.gameStartType.type &&
          this.sudokuData[i].level == this.gameStartType.level
        ) {
          this.highScoreVal = this.sudokuData[i].highScore;
          // console.log("this.highScoreVal SUDOKUAREA: ", this.highScoreVal);
        }
      }
    },
    showHintClickedFunc(t) {
      // console.log("showHintClickedFunc SUDOKUAREA: ", t);
      if (t) {
        this.showHint = true;
      } else {
        this.showHint = false;
      }
    },
    showedHintFunc(t) {
      // console.log("showedHintFunc SUDOKUAREA: ", t);
      if (t) {
        this.showedHint = true;
      } else {
        this.showedHint = false;
        this.showHint = false;
      }
      this.$emit("hint-rewarded-complete", true);
    },
    hintCntReducedFunc(t) {
      console.log("hintCntReducedFuncSUDOKUAREA : ", t);
      this.showHint = false;
      this.showedHint = false;
    },
    alertTokenNeededSuccessFunc() {
      this.alertTokenNeeded = false;
    },
    usePencilTokenFunc(t) {
      console.log("usePencilTokenFunc SUDOKUAREA: ", t);
      console.log("this.tokenValue usePencilTokenFunc SUDOKUAREA :", this.tokenValue);
      if (this.tokenValue >= 10) {
        this.usePencilToken = true;
        this.pencilTokenApplied = true;
      } else {
        this.alertTokenNeeded = true;
        console.log("TOKENs NOT SUFFICIENT");
      }
    },
    usePencilTokenSuccessFunc(t) {
      console.log("usePencilTokenSuccessFunc SUDOKUAREA: ", t);
      this.usePencilToken = false;
    },
    useSpecificNumTokenFunc(t) {
      console.log("useSpecificNumTokenFunc SUDOKUAREA:", t);
      if (this.tokenValue >= 15) {
        this.useSpecificNumToken = true;
      } else {
        this.alertTokenNeeded = true;
        console.log("TOKENs useSpecificNumToken NOT SUFFICIENT");
      }
    },
    useSpecificNumTokenSuccessFunc(t) {
      console.log("useSpecificNumTokenSuccessFunc :", t);
      this.useSpecificNumToken = false;
    },
    useStopTimerTokenFunc(t) {
      console.log("useStopTimerTokenFunc SUDOKUAREA:", t);
      if (this.tokenValue >= 15) {
        this.useStopTimerToken = true;
      } else {
        this.alertTokenNeeded = true;
        console.log("TOKENs useStopTimerToken NOT SUFFICIENT");
      }
    },
    useStopTimerTokenSuccessFunc(t) {
      console.log("useStopTimerTokenSuccessFunc SUDOKUAREA:", t);
      this.sudokuData.forEach((element) => {
        if (
          element.type == this.gameStartType.type &&
          element.level == this.gameStartType.level
        ) {
          element.helpObjUsed.stopTimer++;
        }
      });
      console.log("this.currLighteningState : ", this.currLighteningState);
      var stTimer = {
        resumeTime: this.currClkState != null ? this.currClkState.resumeTime : 0,
        clockAngle: this.currClkState != null ? this.currClkState.clockAngle : 0,
        currScore: this.currLighteningState != null ? this.currLighteningState : Infinity,
        lighteningTimerState: this.currLighteningState != null ? 100 : null,
        helpObjUsed: {
          stopTimer: 1,
        },
      };
      console.log("stTimer :", stTimer);
      this.$emit("update-stop-timer-token", stTimer);
      this.useStopTimerToken = false;
    },
    gameCompletedFunc(t) {
      // console.log("gameCompletedFunc SUDOKUAREA: ", t);
      this.gameCompleted = t;
      var totalMistakes = 0;
      var chances = 0;
      this.sudokuData.forEach((element) => {
        if (
          element.type == this.gameStartType.type &&
          element.level == this.gameStartType.level
        ) {
          totalMistakes = element.mistake;
          chances = element.secondChance;
        }
      });
      console.log("totalMistakes : ", totalMistakes);
      if (totalMistakes >= 3 + chances) {
        this.mistakeCntExceeded = true;
      }
      if (t) {
        // console.log("GAME COMPLETE FUNC CHECK SUDOKUAREA");
        var completeEmit = {
          type: "lightening",
          time: 0,
          currScore: 0,
          mistake: 0,
          hintUsed: 0,
        };
        this.sudokuData.forEach((element) => {
          if (
            element.type == this.gameStartType.type &&
            element.level == this.gameStartType.level
          ) {
            if (this.currClkState != null) {
              completeEmit.type = "classic";
              completeEmit.time = this.currClkState.resumeTime;
            } else {
              completeEmit.type = "lightening";
              completeEmit.currScore = this.currLighteningState;
            }
            completeEmit.mistake = element.mistake;
            completeEmit.hintUsed = element.hintUsed;
            completeEmit.helpObjUsed = element.helpObjUsed;
          }
        });
        this.$emit("to-calculate-points", completeEmit);
      }
    },
    gameCompleteDialogFunc(t) {
      console.log("gameCompleteDialogFunc SUDOKUAREA: ", t);
      this.newGameStartDialog = true;
      // console.log("gameStartType : ", this.gameStartType);
    },
    saveHighScoreFunc(t) {
      this.$emit("save-high-score", t);
    },
    goToHomeFunc(t) {
      this.goToHomeCalled = true;
      this.$emit("go-to-home", t);
    },
    numBarToHideFunc(t) {
      // console.log("this.numBarToHideArr : ", this.numBarToHideArr);
      // console.log("numBarToHideFunc : ", t);
      this.numBarToHideArr = t;
      // console.log("this.numBarToHideArr : ", this.numBarToHideArr);
    },
    lighteningScoreStatusFunc(t) {
      // console.log("lighteningScoreStatusFunc : ", t);
      this.toBeSavedLighteningScoreState = t;
    },
    numEnteredInSudokuSuccessFunc(t) {
      console.log("numEnteredInSudokuSuccessFunc : ", t);
      this.currLighteningState = t;
      this.numEnteredInSudoku = false;
    },
    currLighteningScoreFunc(t) {
      // console.log("currLighteningScoreFunc : ", t);
      this.currLighteningState = t;
    },
    giveSecondChanceFunc(t) {
      console.log("giveSecondChanceFunc : ", t);
      this.giveSecondChance = t;
      this.mistakeCntExceeded = false;
      t.resumeTime = this.currClkState != null ? this.currClkState.resumeTime : 0;
      t.clockAngle = this.currClkState != null ? this.currClkState.clockAngle : 0;
      t.currScore =
        this.currLighteningState != null ? this.currLighteningState : Infinity;
      t.lighteningTimerState = this.currLighteningState != null ? 100 : null;
      this.$emit("give-second-chance", t);
    },
    secondChanceGivenFunc(t) {
      console.log("secondChanceGivenFunc : ", t);
      this.giveSecondChance = false;
    },
    requestForSecondChanceFunc(t) {
      this.$emit("request-for-second-chance", t);
    },
    requestForHintFunc(t) {
      this.$emit("request-for-hint", t);
    },
  },
};
</script>

<style scoped>
.sudoku-area-class {
  height: 100%;
  width: 100%;
}
.sudoku_area {
  width: 100%;
}
</style>
