<template>
  <div class="row">
    <div class="w-20 align-v-h-center border-gray">
      <lightening-timer
        v-if="isLightening"
        :dark-theme="darkTheme"
        :num-entered-type="numEnteredType"
        :lightening-score="lighteningScore"
        :give-second-chance="giveSecondChance"
        :use-stop-timer-token="useStopTimerToken"
        :cell-data-erased-type="cellDataErasedType"
        :new-game-start-dialog="newGameStartDialog"
        :num-entered-in-sudoku="numEnteredInSudoku"
        :lightening-timer-state="lighteningTimerState"
        :stop-score-game-complete="stopWatchGameComplete"
        @second-chance-given="secondChanceGivenFunc"
        @curr-lightening-score="currLighteningScoreFunc"
        @lightening-score-status="lighteningScoreStatusFunc"
        @use-stop-timer-token-success="useStopTimerTokenSuccessFunc"
        @num-entered-in-sudoku-success="numEnteredInSudokuSuccessFunc"
      ></lightening-timer>
      <time-clock
        v-else
        :dark-theme="darkTheme"
        :clock-state="clockState"
        :give-second-chance="giveSecondChance"
        :use-stop-timer-token="useStopTimerToken"
        :stop-watch-game-complete="stopWatchGameComplete"
        :new-game-start-dialog="newGameStartDialog"
        @clock-status="saveClockStatus"
        @curr-clock-status="currClockState"
        @second-chance-given="secondChanceGivenFunc"
        @use-stop-timer-token-success="useStopTimerTokenSuccessFunc"
      ></time-clock>
    </div>
    <div class="w-20 align-v-h-center border-gray">
      <mistake-count
        :dark-theme="darkTheme"
        :count="mistakeCnt + mstCount"
        :new-game-start-dialog="newGameStartDialog"
      ></mistake-count>
    </div>
    <div class="w-20 align-v-h-center border-gray">
      <div @click="eraseCellData">
        <img v-if="darkTheme" src="../../assets/icons/icons8-erase-light-24.png" />
        <img v-else src="../../assets/icons/icons8-erase-dark-24.png" />
        <div>Erase</div>
      </div>
    </div>
    <div class="w-20 align-v-h-center border-gray">
      <show-hint
        :dark-theme="darkTheme"
        :hint-count="hintCount"
        :showed-hint="showedHint"
        :hint-rewarded="hintRewarded"
        :stop-showing-loader="stopShowingLoader"
        :new-game-start-dialog="newGameStartDialog"
        @hint-cnt-reduced="hintCntReducedFunc"
        @request-for-hint="requestForHintFunc"
        @show-hint-clicked="showHintClickedFunc"
      ></show-hint>
    </div>
    <div class="w-20 align-v-h-center border-gray">
      <pen-pencil
        :dark-theme="darkTheme"
        :token-value="tokenValue"
        :alert-token-needed="alertTokenNeeded"
        @pen-pencil-selected="penPencilSelectedFunc"
        @alert-token-needed-success="alertTokenNeededSuccessFunc"
      ></pen-pencil>
    </div>
  </div>
</template>

<script>
import ShowHint from "./sudokuOption/ShowHint.vue";
import PenPencil from "./sudokuOption/PenPencil.vue";
import TimeClock from "./sudokuOption/TimeClock.vue";
import MistakeCount from "./sudokuOption/MistakeCount.vue";
import LighteningTimer from "./sudokuOption/LighteningTimer.vue";

export default {
  name: "sudokuOptions",
  props: [
    "dark-theme",
    "mistake-cnt",
    "showed-hint",
    "sudoku-data",
    "token-value",
    "hint-rewarded",
    "game-start-type",
    "num-entered-type",
    "alert-token-needed",
    "give-second-chance",
    "stop-showing-loader",
    "use-stop-timer-token",
    "cell-data-erased-type",
    "new-game-start-dialog",
    "num-entered-in-sudoku",
    "stop-watch-game-complete",
  ],
  emits: [
    "clock-status",
    "pen-pencil-selected",
    "curr-clock-status",
    "erase-cell-data",
    "show-hint-clicked",
    "hint-cnt-reduced",
    "alert-token-needed-success",
    "lightening-score-status",
    "use-stop-timer-token-success",
    "num-entered-in-sudoku-success",
    "curr-lightening-score",
    "second-chance-given",
    "request-for-hint",
  ],
  components: {
    ShowHint,
    PenPencil,
    TimeClock,
    MistakeCount,
    LighteningTimer,
  },
  data() {
    return {
      clockState: {
        angle: 0,
        clock: 0,
      },
      mstCount: 0,
      hintCount: 0,
      isLightening: false,
      lighteningScore: 0,
      lighteningTimerState: 100,
    };
  },
  watch: {
    newGameStartDialog(n) {
      // console.log("newGameStartDialog SUDOKUOPTION: n", n, " o:", o);
      if (n) {
        this.clockState = {
          angle: 0,
          clock: 0,
        };
        this.mstCount = 0;
        this.hintCount = 2;
        this.isLightening = this.gameStartType.type == "lightening";
        this.lighteningScore =
          this.gameStartType.level == "easy"
            ? this.constants.EASY_SCORE
            : this.gameStartType.level == "medium"
            ? this.constants.MEDIUM_SCORE
            : this.gameStartType.level == "hard"
            ? this.constants.HARD_SCORE
            : this.constants.EXPERT_SCORE;
        this.lighteningTimerState = 100;
      }
    },
  },
  beforeMount() {
    this.isLightening = this.gameStartType.type == "lightening";
    this.lighteningScore =
      this.gameStartType.level == "easy"
        ? this.constants.EASY_SCORE
        : this.gameStartType.level == "medium"
        ? this.constants.MEDIUM_SCORE
        : this.gameStartType.level == "hard"
        ? this.constants.HARD_SCORE
        : this.constants.EXPERT_SCORE;
    this.lighteningTimerState = 100;
    this.sudokuData.forEach((element) => {
      if (
        element.type == this.gameStartType.type &&
        element.level == this.gameStartType.level
      ) {
        if (this.gameStartType.startType == "new") {
          this.clockState.angle = 0;
          this.clockState.clock = 0;
          this.mstCount = 0;
          this.hintCount = 2;
        } else {
          this.clockState.angle = element.clockAngle;
          this.clockState.clock = element.resumeTime;
          this.mstCount = element.mistake;
          this.hintCount = element.hint;
          this.lighteningScore = element.currScore;
          this.lighteningTimerState = element.lighteningTimerState;
        }
      }
    });
    // console.log("this.mstCount : ", this.mstCount);
  },
  methods: {
    eraseCellData() {
      this.$emit("erase-cell-data", true);
    },
    penPencilSelectedFunc(t) {
      console.log("penPencilSelectedFunc : ", t);
      this.$emit("pen-pencil-selected", t);
    },
    saveClockStatus(t) {
      // console.log("saveClockStatus : ", t);
      this.$emit("clock-status", t);
    },
    currClockState(t) {
      this.$emit("curr-clock-status", t);
    },
    showHintClickedFunc(t) {
      this.$emit("show-hint-clicked", t);
    },
    hintCntReducedFunc(t) {
      this.$emit("hint-cnt-reduced", t);
    },
    useStopTimerTokenSuccessFunc(t) {
      this.$emit("use-stop-timer-token-success", t);
    },
    lighteningScoreStatusFunc(t) {
      this.$emit("lightening-score-status", t);
    },
    numEnteredInSudokuSuccessFunc(t) {
      this.$emit("num-entered-in-sudoku-success", t);
    },
    currLighteningScoreFunc(t) {
      this.$emit("curr-lightening-score", t);
    },
    secondChanceGivenFunc(t) {
      this.$emit("second-chance-given", t);
    },
    alertTokenNeededSuccessFunc(t) {
      this.$emit("alert-token-needed-success", t);
    },
    requestForHintFunc(t) {
      this.$emit("request-for-hint", t);
    },
  },
};
</script>

<style scoped>
.row {
  font-size: 1em;
}
</style>
