<template>
  <div class="container">
    <div class="main_area h-100">
      <div
        class="sudoku_row"
        v-for="(arr, idx) in currMatrix"
        :key="'currMatrix' + idx"
        :class="[
          'sudoku_row_' + idx,
          { rowColHighlightDark: selectedI == idx && darkTheme },
          { rowColHighlightLight: selectedI == idx && !darkTheme },
        ]"
      >
        <div
          class="sudoku_block"
          v-for="(item, jdx) in arr"
          :key="'currRow' + jdx"
          :class="[
            'sudoku_block_' + jdx,
            {
              rowColHighlightDark:
                darkTheme &&
                (selectedJ == jdx ||
                  (selected3x3StartJ <= jdx &&
                    selected3x3EndJ > jdx &&
                    selected3x3StartI <= idx &&
                    selected3x3EndI > idx)),
            },
            {
              rowColHighlightLight:
                !darkTheme &&
                (selectedJ == jdx ||
                  (selected3x3StartJ <= jdx &&
                    selected3x3EndJ > jdx &&
                    selected3x3StartI <= idx &&
                    selected3x3EndI > idx)),
            },
          ]"
        >
          <div
            class="editable_area"
            @click="numFocusedFunc(item, idx, jdx)"
            :class="{
              allNumFocusedLightClass: item == numFocused && !darkTheme,
              allNumFocusedDarkClass: item == numFocused && darkTheme,
              numFocusedLightClass:
                (item == numFocused || numFocused == -10) &&
                selectedI == idx &&
                selectedJ == jdx &&
                !darkTheme,
              numFocusedDarkClass:
                (item == numFocused || numFocused == -10) &&
                selectedI == idx &&
                selectedJ == jdx &&
                darkTheme,
              darkTextColor: !darkTheme && initialMatrix[idx][jdx] != 0,
              whiteTextColor: darkTheme && initialMatrix[idx][jdx] != 0,
              editableDarkTextColor: !darkTheme && initialMatrix[idx][jdx] == 0,
              editableWhiteTextColor: darkTheme && initialMatrix[idx][jdx] == 0,
            }"
          >
            <div v-if="item != 0" :class="{ errorPresent: item != ansMatrix[idx][jdx] }">
              {{ item }}
            </div>
            <div v-else class="w-100 h-100">
              <div class="h-100">
                <div class="w-100 h-100">
                  <span class="pencil-row align-v-h-center" v-for="i in 3" :key="i">
                    <span class="pencil-cell align-v-h-center" v-for="j in 3" :key="j">
                      {{
                        pencilData[idx][jdx][(i - 1) * 3 + j - 1] != 0
                          ? pencilData[idx][jdx][(i - 1) * 3 + j - 1]
                          : ""
                      }}
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SudokuBlock",
  props: [
    "show-hint",
    "dark-theme",
    "sudoku-data",
    "num-to-enter",
    "erase-cell-data",
    "game-start-type",
    "pencil-selected",
    "use-pencil-token",
    "pencil-token-applied",
    "new-game-start-dialog",
    "use-specific-num-token",
  ],
  emits: [
    "save-matrices",
    "num-to-enter-success",
    "clk-status-before-pause",
    "new-game-start",
    "showed-hint",
    "use-pencil-token-success",
    "use-stop-timer-token-success",
    "use-specific-num-token-success",
    "game-completed",
    "num-bar-to-hide",
    "cell-data-erased",
  ],
  data() {
    return {
      matrix_leng: 9,
      numFocused: -1,
      selectedI: -1,
      selectedJ: -1,
      sudokuArr: null,
      resumedData: null,
      blocksToShow: 0,
    };
  },
  watch: {
    newGameStartDialog(n) {
      // console.log("newGameStartDialog SUDOKUBLOCK: n", n, " o:", o);
      if (n) {
        this.sudoku.getNewSudoku((sdk) => {
          this.resumedData = null;
          var tmpArr = [];
          for (var i = 0; i < sdk.length; i++) {
            tmpArr.push(sdk[i]);
          }
          this.sudokuArr = tmpArr;
          this.$emit("new-game-start", {
            ansMatrix: this.ansMatrix,
            clockAngle: 0,
            currMatrix: this.currMatrix,
            helpObjUsed: {
              pencilAll: 0,
              showSpecificNum: 0,
              stopTimer: 0,
            },
            hint: 2,
            hintUsed: 0,
            initialMatrix: this.initialMatrix,
            mistake: 0,
            secondChance: 0,
            pencilData: this.pencilData,
            resumeTime: 0,
          });
          this.numFocused = -1;
          this.selectedI = -1;
          this.selectedJ = -1;
        });
        for (var i = 0; i < 9; i++) {
          for (var j = 0; j < 9; j++) {
            for (var k = 0; k < 9; k++) {
              this.pencilData[i][j][k] = 0;
            }
          }
        }
        this.checkToDisappearNum();
      }
    },
    useSpecificNumToken(n) {
      // console.log("useSpecificNumToken SUDOKUBLOCK: n", n, " o:", o);
      var valEntered = false;
      if (n) {
        var allNumCnt = [0, 0, 0, 0, 0, 0, 0, 0, 0];
        for (var i = 0; i < 9; i++) {
          for (var j = 0; j < 9; j++) {
            if (this.currMatrix[i][j] != 0) {
              allNumCnt[this.currMatrix[i][j] - 1]++;
            }
          }
        }
        var numToShow = [];
        for (i = 0; i < 9; i++) {
          if (allNumCnt[i] < 9) {
            numToShow.push(i + 1);
          }
        }
        // console.log("allNumCnt SUDOKUBLOCK: ", allNumCnt);
        // console.log("numToShow SUDOKUBLOCK: ", numToShow);
        var randomNum = numToShow[Math.floor(Math.random() * numToShow.length)];
        // console.log("randomNum SUDOKUBLOCK: ", randomNum);
        for (i = 0; i < 9; i++) {
          for (j = 0; j < 9; j++) {
            if (this.ansMatrix[i][j] == randomNum && this.currMatrix[i][j] == 0) {
              for (var k = 0; k < 9; k++) {
                this.pencilData[i][j][k] = 0;
              }
              this.currMatrix[i][j] = randomNum;
              valEntered = true;
            }
          }
        }
        if (valEntered) {
          var ret = {
            success: true,
            numEntered: true,
            numCorrect: true,
            entryType: "specificNum",
            data: null,
          };
          ret.data = {
            currMatrix: this.currMatrix,
            pencilData: this.pencilData,
            ansMatrix: this.ansMatrix,
            initialMatrix: this.initialMatrix,
          };
          this.$emit("num-to-enter-success", ret);
        }
      } else {
        this.checkGameCompleteFunc();
      }
      this.$emit("use-specific-num-token-success", true);
      this.checkToDisappearNum();
    },
    usePencilToken(n) {
      // console.log("usePencilToken SUDOKUBLOCK: n", n, " o:", o);
      if (n) {
        for (var i = 0; i < 9; i++) {
          for (var j = 0; j < 9; j++) {
            if (this.currMatrix[i][j] == 0) {
              var blk3x3Arr = this.get3x3BlockNums(i, j);
              var rowArr = this.getRowNums(i);
              var colArr = this.getColNums(j);
              var arrr = blk3x3Arr.concat(rowArr).concat(colArr);
              var toShowArr = [0, 0, 0, 0, 0, 0, 0, 0, 0];
              for (var k = 0; k < arrr.length; k++) {
                toShowArr[arrr[k] - 1]++;
              }
              for (k = 0; k < 9; k++) {
                if (toShowArr[k] == 0) {
                  this.pencilData[i][j][k] = k + 1;
                } else {
                  this.pencilData[i][j][k] = 0;
                }
              }
            }
          }
        }
        var ret = {
          success: true,
          numEntered: false,
          numCorrect: false,
          entryType: "pencilToken",
          data: null,
        };
        ret.data = {
          currMatrix: this.currMatrix,
          pencilData: this.pencilData,
          ansMatrix: this.ansMatrix,
          initialMatrix: this.initialMatrix,
        };
        this.$emit("num-to-enter-success", ret);
      }
      this.$emit("use-pencil-token-success", true);
    },
    showHint(n) {
      // console.log("showHint SUDOKUBLOCK: n", n, " o:", o);
      var showedHnt = false;
      if (n) {
        if (
          this.selectedI != -1 &&
          this.selectedJ != -1 &&
          this.initialMatrix[this.selectedI][this.selectedJ] == 0
        ) {
          for (var i = 0; i < 9; i++) {
            this.pencilData[this.selectedI][this.selectedJ][i] = 0;
          }
          var num = this.ansMatrix[this.selectedI][this.selectedJ];
          this.currMatrix[this.selectedI][this.selectedJ] = num;
          this.numFocused = num;
          showedHnt = true;
          let ret = {
            success: true,
            numEntered: true,
            numCorrect: true,
            entryType: "hint",
            data: null,
          };
          ret.data = {
            currMatrix: this.currMatrix,
            pencilData: this.pencilData,
            ansMatrix: this.ansMatrix,
            initialMatrix: this.initialMatrix,
          };
          this.$emit("num-to-enter-success", ret);
        } else {
          console.log("SELECT CELL TO SHOW HINTTT SUDOKUBLOCK");
        }
      } else {
        this.checkGameCompleteFunc();
      }
      this.$emit("showed-hint", showedHnt);
      this.checkToDisappearNum();
    },
    eraseCellData() {
      // console.log("eraseCellData n SUDOKUBLOCK:", n, " o:", o);
      this.eraseCellDataFunc();
      this.checkToDisappearNum();
    },
    numToEnter(n) {
      // console.log("numToEnter SUDOKUBLOCK: n:", n, " o:", o);
      // console.log("numToEnter SUDOKUBLOCK selectedI:", this.selectedI);
      // console.log("numToEnter SUDOKUBLOCK selectedJ:", this.selectedJ);
      if (n != -1) {
        let ret = {
          success: false,
          numEntered: false,
          numCorrect: false,
          entryType: "pen",
          data: null,
        };
        if (
          this.selectedI != -1 &&
          this.selectedJ != -1 &&
          this.initialMatrix[this.selectedI][this.selectedJ] == 0
        ) {
          if (this.pencilSelected) {
            this.currMatrix[this.selectedI][this.selectedJ] = 0;
            this.numFocused = -10;
            ret.entryType = "pencil";
            // console.log(
            //   "this.pencilData SUDOKUBLOCK 1: ",
            //   this.pencilData[this.selectedI][this.selectedJ]
            // );
            if (this.pencilData[this.selectedI][this.selectedJ][n - 1] == 0) {
              this.pencilData[this.selectedI][this.selectedJ][n - 1] = n;
            } else {
              this.pencilData[this.selectedI][this.selectedJ][n - 1] = 0;
            }
            // console.log(
            //   "this.pencilData SUDOKUBLOCK 2: ",
            //   this.pencilData[this.selectedI][this.selectedJ]
            // );
          } else {
            for (var i = 0; i < 9; i++) {
              this.pencilData[this.selectedI][this.selectedJ][i] = 0;
            }
            ret.entryType = "pen";
            if (this.currMatrix[this.selectedI][this.selectedJ] == n) {
              this.currMatrix[this.selectedI][this.selectedJ] = 0;
              this.numFocused = -10;
              ret.numEntered = false;
            } else {
              this.currMatrix[this.selectedI][this.selectedJ] = n;
              this.numFocused = n;
              ret.numEntered = true;
              if (this.ansMatrix[this.selectedI][this.selectedJ] == n) {
                ret.numCorrect = true;
              }
              if (this.pencilTokenApplied) {
                this.removePencilFromRowColBlock(n);
              }
            }
          }
          ret.success = true;
          ret.data = {
            currMatrix: this.currMatrix,
            pencilData: this.pencilData,
            ansMatrix: this.ansMatrix,
            initialMatrix: this.initialMatrix,
          };
          this.$emit("num-to-enter-success", ret);
          this.checkToDisappearNum();
        } else {
          this.$emit("num-to-enter-success", ret);
        }
      } else {
        this.checkGameCompleteFunc();
      }
    },
  },
  mounted() {
    if (this.gameStartType.startType == "new") {
      this.$emit("new-game-start", {
        ansMatrix: this.ansMatrix,
        clockAngle: 0,
        currMatrix: this.currMatrix,
        helpObjUsed: {
          pencilAll: 0,
          showSpecificNum: 0,
          stopTimer: 0,
        },
        hint: 2,
        hintUsed: 0,
        initialMatrix: this.initialMatrix,
        mistake: 0,
        pencilData: this.pencilData,
        resumeTime: 0,
        secondChance: 0,
        currScore: Infinity,
        lighteningTimerState: null,
      });
    }
    this.cordova.on("deviceready", () => {
      // console.log("this.cordova deviceready");
      document.removeEventListener("pause", (event) => {
        console.log("removeEventListener pause: ", event);
      });
      document.addEventListener(
        "pause",
        (event) => {
          console.log("document.addEventListener pause : ", event);
          event.preventDefault();
          var retData = {
            data: {
              ansMatrix: this.ansMatrix,
              currMatrix: this.currMatrix,
              initialMatrix: this.initialMatrix,
              pencilData: this.pencilData,
            },
          };
          this.$emit("clk-status-before-pause", retData);
        },
        false
      );
    });
    this.checkToDisappearNum();
  },
  beforeUnmount() {
    // console.log("beforeUnmount SUDOKUBLOCK ");
    this.$emit("save-matrices", {
      ansMatrix: this.ansMatrix,
      currMatrix: this.currMatrix,
      initialMatrix: this.initialMatrix,
      pencilData: this.pencilData,
    });
  },
  beforeMount() {
    // console.log("this.gameStartType  SUDOKUBLOCK: ", this.gameStartType);
    if (this.gameStartType.level == "easy") this.blocksToShow = 77;
    else if (this.gameStartType.level == "medium") this.blocksToShow = 35;
    else if (this.gameStartType.level == "hard") this.blocksToShow = 30;
    else this.blocksToShow = 20;

    if (this.gameStartType.startType == "new") {
      this.sudoku.getNewSudoku((sdk) => {
        this.sudokuArr = sdk;
      });
    } else {
      this.sudokuData.forEach((element) => {
        if (
          element.type == this.gameStartType.type &&
          element.level == this.gameStartType.level
        ) {
          this.resumedData = {
            ansMatrix: element.ansMatrix,
            currMatrix: element.currMatrix,
            initialMatrix: element.initialMatrix,
            pencilData: element.pencilData,
          };
        }
      });
    }
  },
  computed: {
    selected3x3StartI() {
      if (this.selectedI == -1) return -1;
      return this.selectedI - (this.selectedI % 3);
    },
    selected3x3StartJ() {
      if (this.selectedJ == -1) return -1;
      return this.selectedJ - (this.selectedJ % 3);
    },
    selected3x3EndI() {
      if (this.selectedI == -1) return -1;
      return this.selected3x3StartI + 3;
    },
    selected3x3EndJ() {
      if (this.selectedJ == -1) return -1;
      return this.selected3x3StartJ + 3;
    },
    pencilData() {
      var mat = [];
      if (this.resumedData != null) {
        return this.resumedData.pencilData;
      }
      for (var i = 0; i < 9; i++) {
        var tmp2d = [];
        for (var j = 0; j < 9; j++) {
          var tmp3d = [];
          for (var k = 0; k < 9; k++) {
            tmp3d.push(0);
          }
          tmp2d.push(tmp3d);
        }
        mat.push(tmp2d);
      }
      return mat;
    },
    ansMatrix() {
      var mat = [];
      // console.log("computed ansMatrix SUDOKUBLOCK this.resumedData: ", this.resumedData);
      if (this.resumedData != null) {
        return this.resumedData.ansMatrix;
      } else if (this.sudokuArr != null) {
        for (var i = 0; i < this.matrix_leng; i++) {
          var tmp = [];
          for (var j = 0; j < this.matrix_leng; j++) {
            tmp.push(this.sudokuArr[i * 9 + j]);
          }
          mat.push(tmp);
        }
      }
      // console.log("computed SUDOKUBLOCK ansMatrix: ", mat);
      return mat;
    },
    currMatrix() {
      var mat = [];
      var lst = this.getToBeShownBlocks();
      // console.log("computed currMatrix SUDOKUBLOCK this.resumedData: ", this.resumedData);
      if (this.resumedData != null) {
        return this.resumedData.currMatrix;
      } else if (this.sudokuArr != null) {
        for (var i = 0; i < this.matrix_leng; i++) {
          var tmp = [];
          for (var j = 0; j < this.matrix_leng; j++) {
            if (lst[i * 9 + j]) tmp.push(this.sudokuArr[i * 9 + j]);
            else tmp.push(0);
          }
          mat.push(tmp);
        }
      }
      // console.log("computed SUDOKUBLOCK currMatrix: ", mat);
      return mat;
    },
    initialMatrix() {
      var mat = [];
      // console.log(
      //   "computed initialMatrix SUDOKUBLOCK this.resumedData: ",
      //   this.resumedData
      // );
      if (this.resumedData != null) {
        return this.resumedData.initialMatrix;
      } else if (this.currMatrix.length != 0) {
        for (var i = 0; i < this.matrix_leng; i++) {
          var tmp = [];
          for (var j = 0; j < this.matrix_leng; j++) {
            tmp.push(this.currMatrix[i][j]);
          }
          mat.push(tmp);
        }
      }
      // console.log("computed SUDOKUBLOCK initialMatrix: ", mat);
      return mat;
    },
  },
  methods: {
    get3x3BlockNums(row, col) {
      var rowStart = row - (row % 3);
      var colStart = col - (col % 3);
      var ret = [];
      for (var i = rowStart; i < rowStart + 3; i++) {
        for (var j = colStart; j < colStart + 3; j++) {
          if (
            this.currMatrix[i][j] != 0 &&
            this.currMatrix[i][j] == this.ansMatrix[i][j]
          ) {
            ret.push(this.currMatrix[i][j]);
          }
        }
      }
      return ret;
    },
    getRowNums(row) {
      var ret = [];
      for (var i = 0; i < 9; i++) {
        if (
          this.currMatrix[row][i] != 0 &&
          this.currMatrix[row][i] == this.ansMatrix[row][i]
        ) {
          ret.push(this.currMatrix[row][i]);
        }
      }
      return ret;
    },
    getColNums(col) {
      var ret = [];
      for (var i = 0; i < 9; i++) {
        if (
          this.currMatrix[i][col] != 0 &&
          this.currMatrix[i][col] == this.ansMatrix[i][col]
        ) {
          ret.push(this.currMatrix[i][col]);
        }
      }
      return ret;
    },
    getToBeShownBlocks() {
      var lst = [];
      for (var i = 0; i < this.matrix_leng * this.matrix_leng; i++) lst.push(false);
      var cnt = 1;
      while (cnt <= this.blocksToShow) {
        var t = Math.floor(Math.random() * this.matrix_leng * this.matrix_leng);
        if (!lst[t]) {
          cnt++;
          lst[t] = true;
        }
      }
      return lst;
    },
    numFocusedFunc(num, idx, jdx) {
      // console.log("SUDOKUBLOCK num : ", num);
      // console.log("SUDOKUBLOCK idx : ", idx);
      // console.log("SUDOKUBLOCK jdx : ", jdx);

      if (num != 0) {
        if (this.numFocused == -1) {
          this.numFocused = num;
        } else if (this.numFocused != num) {
          this.numFocused = num;
        } else if (
          this.numFocused == num &&
          (this.selectedI != idx || this.selectedJ != jdx)
        ) {
          this.numFocused = num;
        } else this.numFocused = -1;
      } else {
        this.numFocused = -10;
      }
      if (this.selectedI == -1 && this.selectedJ == -1) {
        this.selectedI = idx;
        this.selectedJ = jdx;
      } else if (this.selectedI != idx || this.selectedJ != jdx) {
        this.selectedI = idx;
        this.selectedJ = jdx;
      } else {
        this.selectedI = -1;
        this.selectedJ = -1;
      }
    },
    eraseCellDataFunc() {
      // console.log("eraseCellDataFunc SUDOKUBLOCK");
      // console.log("SUDOKUBLOCK this.selectedI : ", this.selectedI);
      // console.log("SUDOKUBLOCK this.selectedJ : ", this.selectedJ);
      var cellErased = false;
      if (this.selectedI != -1 && this.selectedJ != -1) {
        if (this.initialMatrix[this.selectedI][this.selectedJ] == 0) {
          this.numFocused = -10;
          if (this.currMatrix[this.selectedI][this.selectedJ] != 0) {
            if (
              this.currMatrix[this.selectedI][this.selectedJ] ==
              this.ansMatrix[this.selectedI][this.selectedJ]
            ) {
              cellErased = "correct";
            } else {
              cellErased = "wrong";
            }
            this.currMatrix[this.selectedI][this.selectedJ] = 0;
          }
          for (var i = 0; i < 9; i++) {
            this.pencilData[this.selectedI][this.selectedJ][i] = 0;
          }
        } else {
          console.log("SUDOKUBLOCK NOT ERASEABLE");
        }
      } else {
        console.log("SUDOKUBLOCK PLEASE select a CELL.");
      }
      this.$emit("cell-data-erased", cellErased);
    },
    removePencilFromRowColBlock(num) {
      // console.log("SUDOKUBLOCK removePencilFromRowColBlock");
      for (var i = 0; i < 9; i++) {
        this.pencilData[this.selectedI][i][num - 1] = 0;
        this.pencilData[i][this.selectedJ][num - 1] = 0;
      }
      for (i = this.selected3x3StartI; i < this.selected3x3EndI; i++) {
        for (var j = this.selected3x3StartJ; j < this.selected3x3EndJ; j++) {
          this.pencilData[i][j][num - 1] = 0;
        }
      }
    },
    checkGameCompleteFunc() {
      // console.log("SUDOKUBLOCK checkGameCompleteFunc");
      var gmCmpltd = true;
      for (var i = 0; i < 9; i++) {
        for (var j = 0; j < 9; j++) {
          if (
            this.currMatrix[i][j] == 0 ||
            this.currMatrix[i][j] != this.ansMatrix[i][j]
          ) {
            gmCmpltd = false;
          }
        }
      }
      if (gmCmpltd) {
        this.numFocused = -1;
        this.selectedI = -1;
        this.selectedJ = -1;
      }
      this.$emit("game-completed", gmCmpltd);
    },
    checkToDisappearNum() {
      var numBarArr = [0, 0, 0, 0, 0, 0, 0, 0, 0];
      for (var i = 0; i < 9; i++) {
        for (var j = 0; j < 9; j++) {
          if (
            this.currMatrix[i][j] != 0 &&
            this.currMatrix[i][j] == this.ansMatrix[i][j]
          ) {
            numBarArr[this.currMatrix[i][j] - 1]++;
          }
        }
      }
      var numToHide = [];
      for (var k = 0; k < 9; k++) {
        if (numBarArr[k] == 9) {
          numToHide.push(k + 1);
        }
      }
      this.$emit("num-bar-to-hide", numToHide);
    },
  },
};
</script>

<style scoped>
.container {
  margin: 10px 5px;
  /* border: 1px solid red; */
  height: 60vh;
}
.main_area {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.sudoku_row {
  width: 100%;
  height: 10.7%;
  padding: 0px;
  margin: 0px;
  border-top: 1px solid blueviolet;
  border-left: 1px solid blueviolet;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sudoku_row_8 {
  border-bottom: 1px solid blueviolet;
}
.sudoku_row_2,
.sudoku_row_5 {
  border-bottom: 2px solid blueviolet;
}
.sudoku_block {
  border-right: 1px solid blueviolet;
  /* border: 1px solid blueviolet; */
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
.sudoku_block_2,
.sudoku_block_5 {
  border-right: 2px solid blueviolet;
}
.editable_area {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.darkTextColor {
  color: #676262;
}
.whiteTextColor {
  color: #b9b9b9;
}
.editableDarkTextColor {
  color: black;
}
.editableWhiteTextColor {
  color: white;
}
.allNumFocusedLightClass {
  background-color: navajowhite;
}
.allNumFocusedDarkClass {
  background-color: #3e4040;
}
.numFocusedLightClass {
  background-color: #ffb84f;
}
.numFocusedDarkClass {
  background-color: darkslategray;
}
.rowColHighlightDark {
  background-color: #1f1515;
}
.rowColHighlightLight {
  background-color: #c7c6c6;
}
.errorPresent {
  color: red;
}
.pencil-row {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 33%;
}
.pencil-cell {
  width: 30%;
  height: 100%;
  font-size: 0.7em;
  margin: 0;
  padding: 0;
}
span {
  margin: 0;
  padding: 0;
}
.whiteFont {
  color: white;
}
.blackFont {
  color: black;
}
</style>
