<template>
  <div class="loader">
    <div class="loader-inner">
      <div class="loading-icon">
        <loading-clock :dark-theme="darkTheme"></loading-clock>
      </div>
      <div class="number-fact">
        <p>{{ numFact }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import LoadingClock from "./LoadingClock.vue";
export default {
  name: "AppLoader",
  props: ["darkTheme"],
  components: {
    LoadingClock,
  },
  data() {
    return {
      numFact: "",
    };
  },
  mounted() {
    this.cordova.on("deviceready", () => {
      if (this.cordova.connection.type != "none") {
        this.axios.get("http://numbersapi.com/random/math").then((response) => {
          console.log(response);
          this.numFact = response.data;
        });
      } else {
        console.log("No Connection");
      }
    });
  },
};
</script>

<style scoped>
.loader {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-inner {
  width: 100%;
  height: 50%;
}
.loading-icon {
  height: 50%;
}
p {
  margin: 0;
  padding: 10px;
  font-size: 22px;
}
</style>
