<template>
  <div id="loading_clock">
    <div id="cupcake" :style="cupCakeStyle" class="box">
      <span class="letter">S</span>
      <span class="letter">U</span>
      <span class="letter">D</span>

      <div class="cupcakeCircle box" :style="cupcakeCircleBackground">
        <div class="cupcakeInner box" :style="cupcakeInnerBackground">
          <div class="cupcakeCore box" :style="cupcakeCoreBackground"></div>
        </div>
      </div>

      <span class="letter box">K</span>
      <span class="letter box">U</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "LoadingClock",
  props: ["darkTheme"],
  watch: {
    darkTheme(n, o) {
      console.log("LoadingClock newVAl : ", n, " oldVal: ", o);
    },
  },
  computed: {
    cupCakeStyle() {
      if (this.darkTheme) {
        return {
          color: "#000",
          backgroundColor: "#FFD454",
        };
      } else {
        return {
          color: "#fff",
          backgroundColor: "#5498ff",
        };
      }
    },
    cupcakeCircleBackground() {
      if (this.darkTheme) {
        return {
          backgroundColor: "#000",
        };
      } else {
        return {
          backgroundColor: "#fff",
        };
      }
    },
    cupcakeInnerBackground() {
      if (this.darkTheme) {
        return {
          backgroundColor: "#FFD454",
        };
      } else {
        return {
          backgroundColor: "rgb(0 68 156)",
        };
      }
    },
    cupcakeCoreBackground() {
      if (this.darkTheme) {
        return {
          backgroundColor: "#000",
        };
      } else {
        return {
          backgroundColor: "#fff",
        };
      }
    },
  },
};
</script>

<style scoped>
#loading_clock {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cupcake {
  justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  width: 100%;
  height: 90px;
}

.letter {
  font-size: 3em;
  font-family: tahoma;
}

.box {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.cupcakeCircle,
.cupcakeInner,
.cupcakeCore {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
}

.letter,
.cupcakeCircle {
  align-self: center;
  -webkit-align-self: center;
  -moz-align-self: center;
  -o-align-self: center;
  -ms-align-self: center;
}
.cupcakeCircle {
  align-items: center;
  -ms-align-items: center;
  justify-content: center;
  -ms-justify-content: center;
  height: 100px;
  width: 50px;
}

.cupcakeInner {
  align-self: center;
  -ms-align-self: center;
  justify-content: center;
  -ms-justify-content: center;
  height: 50%;
  width: 50%;
  -webkit-animation-name: cupcakeAnimate;
  -webkit-animation-duration: 500ms;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
}
.cupcakeCore {
  align-self: center;
  -ms-align-self: center;
  height: 25%;
  width: 25%;
  -webkit-animation-name: coreAnimate;
  -webkit-animation-duration: 1s;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes cupcakeAnimate {
  to {
    height: 90%;
    width: 90%;
  }
}
@keyframes cupcakeAnimate {
  to {
    height: 90%;
    width: 90%;
  }
}

@-webkit-keyframes coreAnimate {
  to {
    height: 90%;
    width: 90%;
  }
}
@keyframes coreAnimate {
  to {
    height: 90%;
    width: 90%;
  }
}
</style>