<template>
  <div
    class="main_page"
    :class="{ darkThemeClass: darkTheme, lightThemeClass: !darkTheme }"
  >
    <main-page
      v-if="dataLoaded"
      :dark-theme="darkTheme"
      :sudoku-data="sudokuData"
      :token-gifts="tokenGifts"
      :token-value="tokenValue"
      :points-value="pointsValue"
      :hint-rewarded="hintRewarded"
      :ask-about-feedback="askAboutFeedback"
      :stop-showing-loader="stopShowingLoader"
      :second-chance-rewarded="secondChanceRewarded"
      :new-music-added-notification="newMusicAddedNotification"
      @toggle-theme="toggleTheme"
      @add-new-token="requestNewTokenFunc"
      @save-high-score="saveHighScoreFunc"
      @new-game-start="saveSudokuStatusFunc"
      @request-for-hint="requestForHintFunc"
      @give-second-chance="saveSudokuStatusFunc"
      @save-sudoku-status="saveSudokuStatusFunc"
      @to-calculate-points="toCalculatePointsFunc"
      @save-sudoku-curr-status="saveSudokuStatusFunc"
      @update-stop-timer-token="saveSudokuStatusFunc"
      @hint-rewarded-complete="hintRewardedCompleteFunc"
      @never-ask-about-feedback="neverAskAboutFeedbackFunc"
      @request-for-second-chance="requestForSecondChanceFunc"
      @new-music-notification-checked="newMusicNotificationCheckedFunc"
      @second-chance-rewarded-complete="secondChanceRewardedCompleteFunc"
    ></main-page>
    <app-loader v-else :dark-theme="darkTheme"></app-loader>
  </div>
</template>

<script>
import AppLoader from "./components/appLoader/AppLoader.vue";
import MainPage from "./components/main/MainPage.vue";

export default {
  name: "App",
  components: {
    AppLoader,
    MainPage,
  },
  data() {
    return {
      tokenValue: 0,
      pointsValue: 0,
      darkTheme: false,
      dataLoaded: false,
      sudokuData: null,
      askAboutFeedback: true,
      rewardVideoRequested: false,
      newMusicAddedNotification: null,
      secondChanceRewarded: false,
      hintRewarded: false,
      rewardGiven: false,
      rewardAdClosed: false,
      requestRewardFor: null,
      stopShowingLoader: false,
      tokenGifts: 0,
    };
  },
  watch: {
    darkTheme(n, o) {
      console.log("newVAl : ", n, " oldVal: ", o);
    },
    rewardVideoRequested(n) {
      console.log("rewardVideoRequested WATCHER: ", n);
    },
    rewardGiven(n) {
      console.log("rewardGiven WATCHER: ", n);
    },
    rewardAdClosed(n) {
      console.log("rewardAdClosed WATCHER: ", n);
      console.log("this.requestRewardFor : ", this.requestRewardFor);
      if (n) {
        if (this.rewardGiven) {
          if (this.requestRewardFor == this.constants.SECOND_CHANCE) {
            this.secondChanceRewarded = true;
          } else if (this.requestRewardFor == this.constants.HINT) {
            this.hintRewarded = true;
          } else if (this.requestRewardFor == this.constants.TOKEN) {
            var tok = Math.floor(Math.random() * 11) + 5;
            console.log("tok : ", tok);
            this.addNewTokenFunc(tok);
            this.updateTokenGifts();
          }
          this.requestRewardFor = null;
          this.stopShowingLoader = true;
        } else {
          console.log("Reward NOT GIVEN");
        }
        this.rewardGiven = false;
        this.rewardVideoRequested = false;
      }
    },
  },
  mounted() {
    this.db.getTheme((theme) => {
      // console.log("this.db.getTheme: ", theme);
      this.darkTheme = theme.val;
    });
    this.db.getAskAboutFeedback((feedback) => {
      // console.log("this.db.getAskAboutFeedback: ", feedback);
      this.askAboutFeedback = feedback.val;
    });
    this.db.getSudokuStates((res) => {
      if (res == "fail") {
        console.log("DATA FETCHING FAILED....");
      } else {
        this.sudokuData = res;
        this.dataLoaded = true;
      }
    });

    var today = new Date();
    var dd = String(today.getDate()).padStart(2, "0");
    var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
    var yyyy = today.getFullYear();

    today = dd + "/" + mm + "/" + yyyy;

    this.db.getTokenValue((res) => {
      // console.log("this.db.getTokenValue RES: ", res);
      this.tokenValue = res.tokens;
      this.pointsValue = res.points;
      var db_date = res.today_date;
      if (db_date == today) {
        this.tokenGifts = res.tokenGifts;
      } else {
        this.tokenGifts = 3;
        this.db.updateTokenValue(
          { today_date: today, tokenGifts: this.tokenGifts },
          (ret) => {
            console.log("DBDBDBD updateTokenValue UPDATED: ", ret);
          }
        );
      }
    });

    this.firebaseNotification();

    this.adsFunctionality();
  },
  methods: {
    toggleTheme(t) {
      // console.log("theme : ", t);
      this.darkTheme = t;
      this.db.updateTheme(t, (s) => {
        console.log("updateTheme : ", s);
      });
    },
    saveSudokuStatusFunc(t) {
      console.log("APPPPPE saveSudokuStatusFunc : ", t);
      this.db.saveSudokuStates(t, (ret) => {
        console.log("DBDBDBD saveSudokuStates : ", ret);
      });
      var tokenValChanged = false;
      this.sudokuData.forEach((element) => {
        if (element.type == t.type && element.level == t.level) {
          if (t.currScore != undefined) {
            element.currScore = t.currScore;
          }
          if (t.secondChance != undefined) {
            if (t.secondChance == true) {
              element.secondChance++;
            } else {
              element.secondChance = 0;
            }
          }
          if (t.lighteningTimerState != undefined) {
            element.lighteningTimerState = t.lighteningTimerState;
          } else {
            element.lighteningTimerState = null;
          }
          if (t.ansMatrix != undefined) {
            element.ansMatrix = t.ansMatrix;
          }
          if (t.clockAngle != undefined) {
            element.clockAngle = t.clockAngle;
          }
          if (t.currMatrix != undefined) {
            element.currMatrix = t.currMatrix;
          }
          if (t.initialMatrix != undefined) {
            element.initialMatrix = t.initialMatrix;
          }
          if (t.pencilData != undefined) {
            element.pencilData = t.pencilData;
          }
          if (t.resumeTime != undefined) {
            element.resumeTime = t.resumeTime;
          }
          if (t.mistake != undefined) {
            if (t.mistake == 0) element.mistake = 0;
            else element.mistake = element.mistake + t.mistake;
          }
          // for (var prop in t) {
          //   console.log("APPAPPAPPAPPAPPAPPAPPAPPAPP 1: prop :", prop, " VAL :", t[prop]);
          // }
          if (t.hint != undefined) {
            if (t.hint == 2) {
              element.hintUsed = 0;
              element.hint = 2;
            } else {
              element.hintUsed++;
              if (element.hint > 0) {
                element.hint = element.hint - 1;
              } else {
                element.hint = 0;
              }
            }
          }

          if (t.helpObjUsed != undefined) {
            if (t.helpObjUsed.showSpecificNum != undefined) {
              if (t.helpObjUsed.showSpecificNum == 0) {
                element.helpObjUsed.showSpecificNum = 0;
              } else {
                element.helpObjUsed.showSpecificNum++;
                this.tokenValue -= 15;
                tokenValChanged = true;
              }
            }
            if (t.helpObjUsed.pencilAll != undefined) {
              if (t.helpObjUsed.pencilAll == 0) {
                element.helpObjUsed.pencilAll = 0;
              } else {
                element.helpObjUsed.pencilAll++;
                this.tokenValue -= 10;
                tokenValChanged = true;
              }
            }
            if (t.helpObjUsed.stopTimer != undefined) {
              if (t.helpObjUsed.stopTimer == 0) {
                element.helpObjUsed.stopTimer = 0;
              } else {
                element.helpObjUsed.stopTimer++;
                this.tokenValue -= 15;
                tokenValChanged = true;
              }
            }
          }

          // for (prop in element) {
          //   console.log("APPAPPAPPAPPAPPAPPAPPAPPAPP element2: prop :", prop, " VAL :", element[prop]);
          // }
        }
      });
      console.log("SUDOKUDATA UPDATEDDDDDD");
      if (tokenValChanged) {
        console.log("tokenValChanged APPPPPE : ", this.tokenValue);
        this.addNewTokenFunc(0);
      }
    },
    saveHighScoreFunc(t) {
      console.log("saveHighScoreFuncsaveHighScoreFunc APPAPPAPP: ", t);
      this.db.saveHighScore(t, (ret) => {
        console.log("DBDBDBD saveSudokuStates highSCore UPDATED: ", ret);
      });
      this.sudokuData.forEach((element) => {
        if (element.type == t.type && element.level == t.level) {
          if (t.type == "classic" && element.highScore > t.highScore) {
            element.highScore = t.highScore;
          } else if (t.type == "lightening" && element.highScore < t.highScore) {
            element.highScore = t.highScore;
          }
        }
      });
    },
    addNewTokenFunc(t) {
      console.log("addNewTokenFunc APPPAPPPA : ", t);
      this.tokenValue += t;
      this.db.updateTokenValue({ tokens: this.tokenValue }, (ret) => {
        console.log("DBDBDBD updateTokenValue UPDATED: ", ret);
      });
    },
    updateTokenGifts() {
      this.tokenGifts--;
      this.db.updateTokenValue({ tokenGifts: this.tokenGifts }, (ret) => {
        console.log("DBDBDBD updateTokenValue UPDATED: ", ret);
      });
    },
    toCalculatePointsFunc(t) {
      console.log("toCalculatePointsFunc APPPAPPPA : ", t);
      this.pointsValue += t;
      this.db.updateTokenValue({ points: t }, (s) => {
        console.log("updateTokenValue : ", s);
      });
    },
    neverAskAboutFeedbackFunc(t) {
      console.log("neverAskAboutFeedbackFunc : ", t);
      if (t) {
        this.askAboutFeedback = !t;
        this.db.updateAskAboutFeedback(!t, (ret) => {
          console.log("DBDBDBD updateAskAboutFeedback UPDATED: ", ret);
        });
      }
    },
    newMusicNotificationCheckedFunc(t) {
      if (t) {
        this.newMusicAddedNotification = null;
      }
    },
    firebaseNotification() {
      this.cordova.on("deviceready", () => {
        this.cordova.FirebasePlugin.getToken(
          function (fcmToken) {
            console.log("getToken:", fcmToken);
          },
          function (error) {
            console.error("getToken:", error);
          }
        );

        this.cordova.FirebasePlugin.getId(
          function (appInstanceId) {
            console.log("appInstanceId :", appInstanceId);
          },
          function (error) {
            console.error("appInstanceId :", error);
          }
        );
        this.cordova.FirebasePlugin.onTokenRefresh(
          function (fcmToken) {
            console.log("onTokenRefresh:", fcmToken);
          },
          function (error) {
            console.error("onTokenRefresh:", error);
          }
        );

        this.createChannels();

        this.cordova.FirebasePlugin.onMessageReceived(
          (message) => {
            console.log("onMessageReceived message : ", message);
            this.newMusicAddedNotification = message;
          },
          function (error) {
            console.error("onMessageReceived error : ", error);
          }
        );
      });
    },
    createChannels() {
      this.cordova.FirebasePlugin.listChannels(
        (channels) => {
          console.log("listChannels channels : ", channels);
          var channelsPresent = false;
          for (var i = 0; i < channels.length; i++) {
            if (channels[i].id == this.constants.NOTIFICATION_CHANNEL.id) {
              channelsPresent = true;
            }
          }
          if (!channelsPresent) {
            this.cordova.FirebasePlugin.createChannel(
              this.constants.NOTIFICATION_CHANNEL,
              (s) => {
                console.log("createChannel : ", s);
                this.cordova.FirebasePlugin.listChannels(
                  function (channels) {
                    console.log("listChannels channels : ", channels);
                  },
                  function (error) {
                    console.error("listChannels error : ", error);
                  }
                );
              },
              function (error) {
                console.error("createChannel error : ", error);
              }
            );
          }
        },
        function (error) {
          console.error("listChannels error : ", error);
        }
      );

      this.cordova.FirebasePlugin.listChannels(
        (channels) => {
          console.log("listChannels channels : ", channels);
        },
        function (error) {
          console.error("listChannels error : ", error);
        }
      );
    },
    requestNewTokenFunc() {
      if (this.tokenGifts > 0) {
        this.requestRewardFor = this.constants.TOKEN;
        if (!this.rewardVideoRequested) {
          this.stopShowingLoader = false;
          this.requestingRewardedAd();
        } else {
          console.log("this.rewardVideoRequested ALREADY IN PROCESS");
        }
      } else {
        console.log("today gift rewarded");
      }
    },
    requestForHintFunc(t) {
      if (t) {
        this.requestRewardFor = this.constants.HINT;
        if (!this.rewardVideoRequested) {
          this.stopShowingLoader = false;
          this.requestingRewardedAd();
        } else {
          console.log("this.rewardVideoRequested ALREADY IN PROCESS");
        }
      } else {
        this.requestRewardFor = null;
      }
    },
    hintRewardedCompleteFunc(t) {
      if (t) {
        this.hintRewarded = false;
      }
    },
    requestForSecondChanceFunc(t) {
      if (t) {
        this.requestRewardFor = this.constants.SECOND_CHANCE;
        if (!this.rewardVideoRequested) {
          this.stopShowingLoader = false;
          this.requestingRewardedAd();
        } else {
          console.log("this.rewardVideoRequested ALREADY IN PROCESS");
        }
      } else {
        this.requestRewardFor = null;
      }
    },
    secondChanceRewardedCompleteFunc(t) {
      if (t) {
        this.secondChanceRewarded = false;
      }
    },
    requestingRewardedAd() {
      this.cordova.on("deviceready", () => {
        if (this.cordova.connection.type != "none") {
          if (this.cordova.admob) {
            console.log("AdMobAds plugin IS Ready");
            try {
              this.cordova.admob.requestRewardedAd(
                (success) => {
                  console.log("requestRewardedAd func success : ", success);
                  this.rewardVideoRequested = true;
                  this.rewardGiven = false;
                },
                (err) => {
                  console.log("requestRewardedAd func err : ", err);
                }
              );
            } catch (err) {
              console.log("Error destroying banner:", err);
            }
          } else {
            alert("AdMobAds plugin not ready");
          }
        } else {
          console.log("Connection PRBOLEM");
        }
      });
    },
    adsFunctionality() {
      this.cordova.on("deviceready", () => {
        this.registerAdEvents();

        this.cordova.admob.setOptions({
          bannerAdId: this.isDev
            ? this.devValues.ADMOB_BANNER_AD_PUBLISHER_ID
            : this.prodValues.ADMOB_BANNER_AD_PUBLISHER_ID,
          publisherId: this.isDev
            ? this.devValues.ADMOB_REWARD_AD_PUBLISHER_ID
            : this.prodValues.ADMOB_REWARD_AD_PUBLISHER_ID,
          // autoShowBanner: true,
          autoShowRewarded: true,
          isTesting: this.isDev ? true : false,
          overlap: false,
        });

        this.cordova.admob.createBannerView();
      });
    },
    async onAdLoaded(e) {
      console.log("this.onAdLoaded : ", e);
      if (e.adType === this.cordova.admob.AD_TYPE.REWARDED) {
        try {
          await this.cordova.admob.showRewardedAd(
            (success) => {
              console.log("showRewardedAd func success : ", success);
            },
            (err) => {
              console.log("showRewardedAd func err : ", err);
            }
          );
        } catch (err) {
          console.log("Error showing/hiding rewarded ad:", err);
        }
      }
    },
    onRewardedAd(e) {
      // console.log("onRewardedAd : ", e);
      if (e.adType === this.cordova.admob.AD_TYPE.REWARDED) {
        console.log(
          "The user has been rewarded! Please unlock feature in your app, give present, live, coins, whatever you promised him/her"
        );
        this.rewardVideoRequested = false;
        this.rewardGiven = true;
        // this.$emit("give-second-chance", { secondChance: true }); //SecondChance Given
      }
    },
    onRewardedAdVideoStarted(e) {
      // console.log("onRewardedAdVideoStarted : ", e);
      if (e.adType === this.cordova.admob.AD_TYPE.REWARDED) {
        // console.log("Rewarded video just started now");
        this.rewardAdClosed = false;
      }
    },
    onRewardedAdVideoCompleted(e) {
      // console.log("onRewardedAdVideoCompleted : ", e);
      if (e.adType === this.cordova.admob.AD_TYPE.REWARDED) {
        console.log("Rewarded video just finished now");
      }
    },
    onAdClosed(e) {
      // console.log("onAdClosed : ", e);
      if (e.adType === this.cordova.admob.AD_TYPE.REWARDED) {
        console.log("on Ad CLOSED");
        this.rewardAdClosed = true;
        this.rewardVideoRequested = false;
      }
    },
    registerAdEvents() {
      document.addEventListener(this.cordova.admob.events.onAdLoaded, this.onAdLoaded);
      document.addEventListener(
        this.cordova.admob.events.onRewardedAd,
        this.onRewardedAd
      );
      document.addEventListener(
        this.cordova.admob.events.onRewardedAdVideoStarted,
        this.onRewardedAdVideoStarted
      );
      document.addEventListener(
        this.cordova.admob.events.onRewardedAdVideoCompleted,
        this.onRewardedAdVideoCompleted
      );
      document.addEventListener(this.cordova.admob.events.onAdClosed, this.onAdClosed);
    },
  },
};
</script>

<style>
body {
  margin: 0;
  padding: 0;
}
#app {
  font-size: 16px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  height: 100vh;
  margin: 0;
  padding: 0px;
}
.main_page {
  height: 100%;
  padding: 0px 2px;
  overflow: scroll;
}
.darkThemeClass {
  background-color: black;
  color: white;
}
.lightThemeClass {
  background-color: white;
  color: black;
}
.row {
  display: flex;
  padding: 0;
  margin: 0;
}
.w-20 {
  width: 20%;
}
.w-33 {
  width: 33%;
}
.w-50 {
  width: 50%;
}
.w-100 {
  width: 100%;
}
.p-0 {
  padding: 0px;
}
.m-x-1 {
  margin: 0px 10px;
}
.m-x-auto {
  margin: 0px auto;
}
.ml-5 {
  margin-left: 5px;
}
.mr-5 {
  margin-right: 5px;
}
.h-100 {
  height: 100% !important;
}
.h-8 {
  height: 8% !important;
}
.align-v-h-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.border-red {
  border: 1px solid red;
}
.border-blue {
  border: 1px solid blue;
}
.border-green {
  border: 1px solid greenyellow;
}
.border-gray {
  border: 1px solid rgb(129, 125, 125);
}
</style>
